In [1]:
import os
os.chdir("D:\\UIT\\HK\\HK6\\IS403\\Đồ án\\Source code")
print("Thư mục làm việc hiện tại:", os.getcwd())

Thư mục làm việc hiện tại: D:\UIT\HK\HK6\IS403\Đồ án\Source code

# Import modules

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from datetime import timedelta

In [5]:
from utils import (
    convert_str_to_datetime,
    convert_str_to_monthyear,
    convert_quarter_to_datetime,
    convert_datetime_to_quarteryear_str,
    get_quarter_from_date,
    get_quarter
)

# Load data

## CPI

In [6]:
cpi = pd.read_excel(".\\dataset\\clean_dataset\\cpi.xlsx", skiprows=1)
cpi

         Time  Value
0  2021-12-01  -0.18
1  2022-01-01   0.19
2  2022-02-01   1.00
3  2022-03-01   0.70
4  2022-04-01   0.18
5  2022-05-01   0.38
6  2022-06-01   0.69
7  2022-07-01   0.40
8  2022-08-01   0.01
9  2022-09-01   0.40
10 2022-10-01   0.15
11 2022-11-01   0.39
12 2022-12-01  -0.01
13 2023-01-01   0.52
14 2023-02-01   0.45
15 2023-03-01  -0.23
16 2023-04-01  -0.34
17 2023-05-01   0.01
18 2023-06-01   0.27
19 2023-07-01   0.45
20 2023-08-01   0.88
21 2023-09-01   1.08
22 2023-10-01   0.08
23 2023-11-01   0.25
24 2023-12-01   0.12
25 2024-01-01   0.31
26 2024-02-01   1.04
27 2024-03-01  -0.23
28 2024-04-01   0.07
29 2024-05-01   0.05
30 2024-06-01   0.17
31 2024-07-01   0.48
32 2024-08-01   0.00
33 2024-09-01   0.29
34 2024-10-01   0.33
35 2024-11-01   0.13
36 2024-12-01   0.29
37 2025-01-01   0.98
38 2025-02-01   0.34

## GDP

In [7]:
gdp = pd.read_excel(".\\dataset\\clean_dataset\\gdp.xlsx", sheet_name="GDP (2010)", skiprows=1)
gdp

       Time    Value
0   Q4 2021  1467490
1   Q1 2022  1255312
2   Q2 2022  1346821
3   Q3 2022  1376321
4   Q4 2022  1538951
5   Q1 2023  1320755
6   Q2 2023  1407473
7   Q3 2023  1450322
8   Q4 2023  1643902
9   Q1 2024  1396660
10  Q2 2024  1508387
11  Q3 2024  1561963
12  Q4 2024  1773652

## Foreign exchange rate

In [8]:
tcb_foreign_exchange_rate = pd.read_csv(".\\dataset\\clean_dataset\\foreign_exchange_rate\\tcb_foreign_exchange_rate.csv")
tcb_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2021-12-31,16033.0,16929.0,16299.0,17363.0,18264.0,17635.0,24325.0,25325.0,24676.0,...,191.08,203.69,194.38,16353.0,17248.0,16621.0,603.0,718.0,665.0,22604.0
1,2022-01-04,15879.0,16769.0,16144.0,17324.0,18212.0,17596.0,24166.0,25143.0,24516.0,...,189.61,202.04,192.90,16269.0,17154.0,16537.0,599.0,714.0,662.0,22579.0
2,2022-01-06,15743.0,16622.0,16009.0,17235.0,18120.0,17507.0,24125.0,25097.0,24475.0,...,189.58,202.00,192.87,16186.0,17065.0,16453.0,595.0,709.0,658.0,22564.0
3,2022-01-07,15697.0,16577.0,15962.0,17301.0,18189.0,17573.0,24036.0,25013.0,24386.0,...,189.11,201.54,192.40,16172.0,17052.0,16439.0,590.0,705.0,653.0,22510.0
4,2022-01-08,15769.0,16659.0,16034.0,17415.0,18313.0,17688.0,24085.0,25070.0,24435.0,...,189.51,202.06,192.80,16214.0,17106.0,16481.0,591.0,706.0,654.0,22515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,2025-03-26,15648.0,16539.0,15913.0,17416.0,18304.0,17689.0,28307.0,29316.0,28674.0,...,163.70,174.02,167.89,18588.0,19392.0,18865.0,668.0,784.0,731.0,25350.0
967,2025-03-27,15628.0,16517.0,15892.0,17380.0,18267.0,17652.0,28317.0,29313.0,28684.0,...,163.06,173.40,167.25,18560.0,19361.0,18837.0,670.0,786.0,733.0,25354.0
968,2025-03-28,15572.0,16470.0,15836.0,17323.0,18216.0,17595.0,28347.0,29354.0,28714.0,...,163.09,173.47,167.28,18527.0,19332.0,18804.0,668.0,784.0,731.0,25354.0
969,2025-03-29,15550.0,16446.0,15815.0,17327.0,18224.0,17599.0,28404.0,29424.0,28771.0,...,163.87,174.32,168.06,18510.0,19314.0,18787.0,667.0,787.0,730.0,25345.0
970,2025-03-31,15457.0,16353.0,15722.0,17289.0,18187.0,17561.0,28382.0,29405.0,28749.0,...,164.69,175.09,168.88,18518.0,19321.0,18795.0,670.0,786.0,733.0,25359.0

## Bank index

In [9]:
tcb_kqkd = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\tcb\\tcb_kqkd.csv")
tcb_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2024,4,15064961000000,0.042920,3371065000000,-0.240565,4696032000000,3420111000000,67000000
1,2024,3,15168282000000,0.043733,5737505000000,0.243784,7214168000000,5793022000000,6406000000
2,2024,2,15348981000000,0.096524,6193361000000,0.390187,7826509000000,6269968000000,58051000000
3,2024,1,14507238000000,0.056439,6220997000000,0.383398,7801659000000,6277003000000,37000000
4,2023,4,14444980000000,0.179178,4438909000000,0.252418,5773070000000,4481615000000,23633000000
5,2023,3,14532716000000,0.291638,4612943000000,-0.129299,5842790000000,4668705000000,8450000000
6,2023,2,13997858000000,0.325161,4455055000000,-0.232354,5649010000000,4503449000000,31000000
7,2023,1,13732205000000,0.284815,4496895000000,-0.183068,5623358000000,4537097000000,2642000000
8,2022,4,12250039000000,0.288072,3544272000000,-0.228202,4746223000000,3572087000000,30000000
9,2022,3,11251381000000,0.233667,5297966000000,0.221405,6715079000000,5367540000000,6415000000
10,2022,2,10563140000000,0.211169,5803525000000,0.231876,7321136000000,5882255000000,2295000000
11,2022,1,10688076000000,0.311234,5504614000000,0.251979,6785330000000,5614544000000,51000000
12,2021,4,9510371000000,0.240602,4592230000000,0.161678,6139979000000,4683818000000,4001000000

In [10]:
tcb_cstc = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\tcb\\tcb_cstc.csv")
tcb_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROA (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,TCB,2024,4,0.391902,0.153980,0.023544,183686145214000,7064851739,8.512548,1.263150,3.909015,4.323498,477.160049,20583.468751
1,TCB,2024,3,0.642593,0.163577,0.025308,166730501040400,7064851739,7.361654,1.164898,3.441059,5.262235,812.119661,20259.284053
2,TCB,2024,2,0.653451,0.160440,0.025072,171546276495700,7045021622,7.989180,1.250613,3.640826,3.093598,879.111709,19470.448263
3,TCB,2024,1,0.731921,0.152018,0.024289,160626492981600,7045021622,8.138237,1.176752,3.733513,3.418103,883.034479,19375.368072
4,TCB,2023,4,0.584282,0.146945,0.023253,166967012441400,3522510811,9.261686,1.281412,4.167810,13.834033,1260.154827,36990.442043
5,TCB,2023,3,0.634329,0.142284,0.023307,122054999601150,3522510811,7.124790,0.969395,3.172653,7.203138,1309.561062,35743.930601
6,TCB,2023,2,0.707727,0.153479,0.025183,114310251705000,3517238514,6.422257,0.942791,2.977540,10.654725,1266.634316,34472.102053
7,TCB,2023,1,0.688981,0.171774,0.028175,111320598968100,3517238514,5.811075,0.953124,2.776766,12.109685,1278.530012,33206.575140
8,TCB,2022,4,0.519733,0.195193,0.031789,101648193054600,3517238514,5.038535,0.905180,2.485160,1.830379,1007.685997,31927.334627
9,TCB,2022,3,0.700283,0.208842,0.034202,97779230689200,3517238514,4.605034,0.898155,2.348556,3.614172,1506.285678,30952.342460
10,TCB,2022,2,0.744630,0.210537,0.034456,88986134404200,3517238514,4.388570,0.859142,2.220515,3.058984,1650.023158,29447.986467
11,TCB,2022,1,0.678655,0.210433,0.034342,126744024207800,3510914798,6.614889,1.297252,3.313036,2.861459,1567.857472,27828.050984
12,TCB,2021,4,0.633883,0.215348,0.035806,160097714788800,3510914798,8.857907,1.736520,4.318062,12.465108,1307.986740,26259.416507

In [11]:
tcb_cdtc = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\tcb\\tcb_cdtc.csv")
tcb_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2024,4,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
1,2024,3,927053345000000,927053345000000,782685363000000,144367982000000,1437445000000
2,2024,2,908306700000000,908306700000000,769755043000000,138551657000000,1381928000000
3,2024,1,885653461000000,885653461000000,747780735000000,137872726000000,1372839000000
4,2023,4,849482012000000,849482012000000,717853947000000,131628065000000,1316833000000
5,2023,3,781278666000000,781278666000000,654148880000000,127129786000000,1274127000000
6,2023,2,732470169000000,732470169000000,610005199000000,122464970000000,1218365000000
7,2023,1,723517800000000,723517800000000,605552384000000,117965416000000,1169971000000
8,2022,4,699032544000000,699032544000000,585607578000000,113424966000000,1128915000000
9,2022,3,671353524000000,671353524000000,561454375000000,109899149000000,1032378000000
10,2022,2,623738504000000,623738504000000,519263345000000,104475159000000,962804000000
11,2022,1,615270328000000,615270328000000,516684338000000,98585990000000,884074000000
12,2021,4,568811435000000,568811435000000,475755598000000,93055837000000,844828000000

## Trade

In [12]:
tcb_trade = pd.read_csv(".\\dataset\\clean_dataset\\trade\\tcb_trade.csv")
tcb_trade

           Time   Open   High    Low  Close    Volume
0    2022-01-04  24.49  24.83  24.39  24.68  11334600
1    2022-01-05  24.68  24.83  24.39  24.49   9569600
2    2022-01-06  24.34  24.44  24.05  24.20  10716700
3    2022-01-07  24.20  24.29  23.95  23.98   7832200
4    2022-01-10  24.00  24.05  23.59  23.59   8771400
..          ...    ...    ...    ...    ...       ...
801  2025-03-25  28.10  28.20  27.85  27.90   8130100
802  2025-03-26  27.90  28.50  27.80  28.00  24089300
803  2025-03-27  28.00  28.15  27.75  27.75   7518900
804  2025-03-28  27.75  27.80  27.45  27.55  12353600
805  2025-03-31  27.40  27.50  27.20  27.50  12983300

[806 rows x 6 columns]

# Process data

In [13]:
cpi.dtypes

Time     datetime64[ns]
Value           float64
dtype: object

In [14]:
gdp.dtypes

Time     object
Value     int64
dtype: object

In [15]:
tcb_foreign_exchange_rate.dtypes

Date             object
AUD_Cash        float64
AUD_Sell        float64
AUD_Transfer    float64
CAD_Cash        float64
CAD_Sell        float64
CAD_Transfer    float64
CHF_Cash        float64
CHF_Sell        float64
CHF_Transfer    float64
EUR_Cash        float64
EUR_Sell        float64
EUR_Transfer    float64
GBP_Cash        float64
GBP_Sell        float64
GBP_Transfer    float64
JPY_Cash        float64
JPY_Sell        float64
JPY_Transfer    float64
SGD_Cash        float64
SGD_Sell        float64
SGD_Transfer    float64
THB_Cash        float64
THB_Sell        float64
THB_Transfer    float64
USD_Cash        float64
dtype: object

In [16]:
tcb_trade.dtypes

Time       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [17]:
tcb_kqkd.dtypes

Năm                                                   int64
Kỳ                                                    int64
Doanh thu (đồng)                                      int64
Tăng trưởng doanh thu (%)                           float64
Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng)      int64
Tăng trưởng lợi nhuận (%)                           float64
LN trước thuế                                         int64
Lợi nhuận thuần                                       int64
Cố tức đã nhận                                        int64
dtype: object

In [18]:
tcb_cstc.dtypes

CP                            object
Năm                            int64
Kỳ                             int64
Biên lợi nhuận ròng (%)      float64
ROE (%)                      float64
ROA (%)                      float64
Vốn hóa (Tỷ đồng)              int64
Số CP lưu hành (Triệu CP)      int64
P/E                          float64
P/B                          float64
P/S                          float64
P/Cash Flow                  float64
EPS (VND)                    float64
BVPS (VND)                   float64
dtype: object

In [19]:
tcb_cdtc.dtypes

Năm                             int64
Kỳ                              int64
TỔNG CỘNG TÀI SẢN (đồng)        int64
TỔNG CỘNG NGUỒN VỐN (đồng)      int64
NỢ PHẢI TRẢ (đồng)              int64
VỐN CHỦ SỞ HỮU (đồng)           int64
LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ    int64
dtype: object

## CPI

In [20]:
cpi["Time"] = convert_str_to_monthyear(cpi["Time"])
cpi

       Time  Value
0   2021-12  -0.18
1   2022-01   0.19
2   2022-02   1.00
3   2022-03   0.70
4   2022-04   0.18
5   2022-05   0.38
6   2022-06   0.69
7   2022-07   0.40
8   2022-08   0.01
9   2022-09   0.40
10  2022-10   0.15
11  2022-11   0.39
12  2022-12  -0.01
13  2023-01   0.52
14  2023-02   0.45
15  2023-03  -0.23
16  2023-04  -0.34
17  2023-05   0.01
18  2023-06   0.27
19  2023-07   0.45
20  2023-08   0.88
21  2023-09   1.08
22  2023-10   0.08
23  2023-11   0.25
24  2023-12   0.12
25  2024-01   0.31
26  2024-02   1.04
27  2024-03  -0.23
28  2024-04   0.07
29  2024-05   0.05
30  2024-06   0.17
31  2024-07   0.48
32  2024-08   0.00
33  2024-09   0.29
34  2024-10   0.33
35  2024-11   0.13
36  2024-12   0.29
37  2025-01   0.98
38  2025-02   0.34

In [21]:
cpi["Time"] += 1
cpi

       Time  Value
0   2022-01  -0.18
1   2022-02   0.19
2   2022-03   1.00
3   2022-04   0.70
4   2022-05   0.18
5   2022-06   0.38
6   2022-07   0.69
7   2022-08   0.40
8   2022-09   0.01
9   2022-10   0.40
10  2022-11   0.15
11  2022-12   0.39
12  2023-01  -0.01
13  2023-02   0.52
14  2023-03   0.45
15  2023-04  -0.23
16  2023-05  -0.34
17  2023-06   0.01
18  2023-07   0.27
19  2023-08   0.45
20  2023-09   0.88
21  2023-10   1.08
22  2023-11   0.08
23  2023-12   0.25
24  2024-01   0.12
25  2024-02   0.31
26  2024-03   1.04
27  2024-04  -0.23
28  2024-05   0.07
29  2024-06   0.05
30  2024-07   0.17
31  2024-08   0.48
32  2024-09   0.00
33  2024-10   0.29
34  2024-11   0.33
35  2024-12   0.13
36  2025-01   0.29
37  2025-02   0.98
38  2025-03   0.34

In [22]:
cpi.columns = ["Time", "Previous_CPI"]
cpi

       Time  Previous_CPI
0   2022-01         -0.18
1   2022-02          0.19
2   2022-03          1.00
3   2022-04          0.70
4   2022-05          0.18
5   2022-06          0.38
6   2022-07          0.69
7   2022-08          0.40
8   2022-09          0.01
9   2022-10          0.40
10  2022-11          0.15
11  2022-12          0.39
12  2023-01         -0.01
13  2023-02          0.52
14  2023-03          0.45
15  2023-04         -0.23
16  2023-05         -0.34
17  2023-06          0.01
18  2023-07          0.27
19  2023-08          0.45
20  2023-09          0.88
21  2023-10          1.08
22  2023-11          0.08
23  2023-12          0.25
24  2024-01          0.12
25  2024-02          0.31
26  2024-03          1.04
27  2024-04         -0.23
28  2024-05          0.07
29  2024-06          0.05
30  2024-07          0.17
31  2024-08          0.48
32  2024-09          0.00
33  2024-10          0.29
34  2024-11          0.33
35  2024-12          0.13
36  2025-01          0.29
37  2025-02          0.98
38  2025-03          0.34

## GDP

In [23]:
gdp["Time"] = gdp["Time"].apply(convert_quarter_to_datetime)
gdp

         Time    Value
0  2021-10-01  1467490
1  2022-01-01  1255312
2  2022-04-01  1346821
3  2022-07-01  1376321
4  2022-10-01  1538951
5  2023-01-01  1320755
6  2023-04-01  1407473
7  2023-07-01  1450322
8  2023-10-01  1643902
9  2024-01-01  1396660
10 2024-04-01  1508387
11 2024-07-01  1561963
12 2024-10-01  1773652

In [24]:
gdp["Time"] += pd.DateOffset(months=3)
gdp

         Time    Value
0  2022-01-01  1467490
1  2022-04-01  1255312
2  2022-07-01  1346821
3  2022-10-01  1376321
4  2023-01-01  1538951
5  2023-04-01  1320755
6  2023-07-01  1407473
7  2023-10-01  1450322
8  2024-01-01  1643902
9  2024-04-01  1396660
10 2024-07-01  1508387
11 2024-10-01  1561963
12 2025-01-01  1773652

In [25]:
gdp["Time"] = gdp["Time"].apply(convert_datetime_to_quarteryear_str)
gdp

       Time    Value
0   Q1 2022  1467490
1   Q2 2022  1255312
2   Q3 2022  1346821
3   Q4 2022  1376321
4   Q1 2023  1538951
5   Q2 2023  1320755
6   Q3 2023  1407473
7   Q4 2023  1450322
8   Q1 2024  1643902
9   Q2 2024  1396660
10  Q3 2024  1508387
11  Q4 2024  1561963
12  Q1 2025  1773652

In [26]:
gdp.columns = ["Time", "Previous_GDP"]
gdp

       Time  Previous_GDP
0   Q1 2022       1467490
1   Q2 2022       1255312
2   Q3 2022       1346821
3   Q4 2022       1376321
4   Q1 2023       1538951
5   Q2 2023       1320755
6   Q3 2023       1407473
7   Q4 2023       1450322
8   Q1 2024       1643902
9   Q2 2024       1396660
10  Q3 2024       1508387
11  Q4 2024       1561963
12  Q1 2025       1773652

## Foreign exchange rate

In [27]:
tcb_foreign_exchange_rate["Date"] = convert_str_to_datetime(tcb_foreign_exchange_rate["Date"])
tcb_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2021-12-31,16033.0,16929.0,16299.0,17363.0,18264.0,17635.0,24325.0,25325.0,24676.0,...,191.08,203.69,194.38,16353.0,17248.0,16621.0,603.0,718.0,665.0,22604.0
1,2022-01-04,15879.0,16769.0,16144.0,17324.0,18212.0,17596.0,24166.0,25143.0,24516.0,...,189.61,202.04,192.90,16269.0,17154.0,16537.0,599.0,714.0,662.0,22579.0
2,2022-01-06,15743.0,16622.0,16009.0,17235.0,18120.0,17507.0,24125.0,25097.0,24475.0,...,189.58,202.00,192.87,16186.0,17065.0,16453.0,595.0,709.0,658.0,22564.0
3,2022-01-07,15697.0,16577.0,15962.0,17301.0,18189.0,17573.0,24036.0,25013.0,24386.0,...,189.11,201.54,192.40,16172.0,17052.0,16439.0,590.0,705.0,653.0,22510.0
4,2022-01-08,15769.0,16659.0,16034.0,17415.0,18313.0,17688.0,24085.0,25070.0,24435.0,...,189.51,202.06,192.80,16214.0,17106.0,16481.0,591.0,706.0,654.0,22515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,2025-03-26,15648.0,16539.0,15913.0,17416.0,18304.0,17689.0,28307.0,29316.0,28674.0,...,163.70,174.02,167.89,18588.0,19392.0,18865.0,668.0,784.0,731.0,25350.0
967,2025-03-27,15628.0,16517.0,15892.0,17380.0,18267.0,17652.0,28317.0,29313.0,28684.0,...,163.06,173.40,167.25,18560.0,19361.0,18837.0,670.0,786.0,733.0,25354.0
968,2025-03-28,15572.0,16470.0,15836.0,17323.0,18216.0,17595.0,28347.0,29354.0,28714.0,...,163.09,173.47,167.28,18527.0,19332.0,18804.0,668.0,784.0,731.0,25354.0
969,2025-03-29,15550.0,16446.0,15815.0,17327.0,18224.0,17599.0,28404.0,29424.0,28771.0,...,163.87,174.32,168.06,18510.0,19314.0,18787.0,667.0,787.0,730.0,25345.0
970,2025-03-31,15457.0,16353.0,15722.0,17289.0,18187.0,17561.0,28382.0,29405.0,28749.0,...,164.69,175.09,168.88,18518.0,19321.0,18795.0,670.0,786.0,733.0,25359.0

In [28]:
tcb_foreign_exchange_rate["Date"] = tcb_foreign_exchange_rate["Date"] + timedelta(days=1)
tcb_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2022-01-01,16033.0,16929.0,16299.0,17363.0,18264.0,17635.0,24325.0,25325.0,24676.0,...,191.08,203.69,194.38,16353.0,17248.0,16621.0,603.0,718.0,665.0,22604.0
1,2022-01-05,15879.0,16769.0,16144.0,17324.0,18212.0,17596.0,24166.0,25143.0,24516.0,...,189.61,202.04,192.90,16269.0,17154.0,16537.0,599.0,714.0,662.0,22579.0
2,2022-01-07,15743.0,16622.0,16009.0,17235.0,18120.0,17507.0,24125.0,25097.0,24475.0,...,189.58,202.00,192.87,16186.0,17065.0,16453.0,595.0,709.0,658.0,22564.0
3,2022-01-08,15697.0,16577.0,15962.0,17301.0,18189.0,17573.0,24036.0,25013.0,24386.0,...,189.11,201.54,192.40,16172.0,17052.0,16439.0,590.0,705.0,653.0,22510.0
4,2022-01-09,15769.0,16659.0,16034.0,17415.0,18313.0,17688.0,24085.0,25070.0,24435.0,...,189.51,202.06,192.80,16214.0,17106.0,16481.0,591.0,706.0,654.0,22515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,2025-03-27,15648.0,16539.0,15913.0,17416.0,18304.0,17689.0,28307.0,29316.0,28674.0,...,163.70,174.02,167.89,18588.0,19392.0,18865.0,668.0,784.0,731.0,25350.0
967,2025-03-28,15628.0,16517.0,15892.0,17380.0,18267.0,17652.0,28317.0,29313.0,28684.0,...,163.06,173.40,167.25,18560.0,19361.0,18837.0,670.0,786.0,733.0,25354.0
968,2025-03-29,15572.0,16470.0,15836.0,17323.0,18216.0,17595.0,28347.0,29354.0,28714.0,...,163.09,173.47,167.28,18527.0,19332.0,18804.0,668.0,784.0,731.0,25354.0
969,2025-03-30,15550.0,16446.0,15815.0,17327.0,18224.0,17599.0,28404.0,29424.0,28771.0,...,163.87,174.32,168.06,18510.0,19314.0,18787.0,667.0,787.0,730.0,25345.0
970,2025-04-01,15457.0,16353.0,15722.0,17289.0,18187.0,17561.0,28382.0,29405.0,28749.0,...,164.69,175.09,168.88,18518.0,19321.0,18795.0,670.0,786.0,733.0,25359.0

In [29]:
tcb_foreign_exchange_rate.columns = ["Date"] + ["Previous_" + column for column in tcb_foreign_exchange_rate.columns[1:]]
tcb_foreign_exchange_rate

,Date,Previous_AUD_Cash,Previous_AUD_Sell,Previous_AUD_Transfer,Previous_CAD_Cash,Previous_CAD_Sell,Previous_CAD_Transfer,Previous_CHF_Cash,Previous_CHF_Sell,Previous_CHF_Transfer,...,Previous_JPY_Cash,Previous_JPY_Sell,Previous_JPY_Transfer,Previous_SGD_Cash,Previous_SGD_Sell,Previous_SGD_Transfer,Previous_THB_Cash,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash
0,2022-01-01,16033.0,16929.0,16299.0,17363.0,18264.0,17635.0,24325.0,25325.0,24676.0,...,191.08,203.69,194.38,16353.0,17248.0,16621.0,603.0,718.0,665.0,22604.0
1,2022-01-05,15879.0,16769.0,16144.0,17324.0,18212.0,17596.0,24166.0,25143.0,24516.0,...,189.61,202.04,192.90,16269.0,17154.0,16537.0,599.0,714.0,662.0,22579.0
2,2022-01-07,15743.0,16622.0,16009.0,17235.0,18120.0,17507.0,24125.0,25097.0,24475.0,...,189.58,202.00,192.87,16186.0,17065.0,16453.0,595.0,709.0,658.0,22564.0
3,2022-01-08,15697.0,16577.0,15962.0,17301.0,18189.0,17573.0,24036.0,25013.0,24386.0,...,189.11,201.54,192.40,16172.0,17052.0,16439.0,590.0,705.0,653.0,22510.0
4,2022-01-09,15769.0,16659.0,16034.0,17415.0,18313.0,17688.0,24085.0,25070.0,24435.0,...,189.51,202.06,192.80,16214.0,17106.0,16481.0,591.0,706.0,654.0,22515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,2025-03-27,15648.0,16539.0,15913.0,17416.0,18304.0,17689.0,28307.0,29316.0,28674.0,...,163.70,174.02,167.89,18588.0,19392.0,18865.0,668.0,784.0,731.0,25350.0
967,2025-03-28,15628.0,16517.0,15892.0,17380.0,18267.0,17652.0,28317.0,29313.0,28684.0,...,163.06,173.40,167.25,18560.0,19361.0,18837.0,670.0,786.0,733.0,25354.0
968,2025-03-29,15572.0,16470.0,15836.0,17323.0,18216.0,17595.0,28347.0,29354.0,28714.0,...,163.09,173.47,167.28,18527.0,19332.0,18804.0,668.0,784.0,731.0,25354.0
969,2025-03-30,15550.0,16446.0,15815.0,17327.0,18224.0,17599.0,28404.0,29424.0,28771.0,...,163.87,174.32,168.06,18510.0,19314.0,18787.0,667.0,787.0,730.0,25345.0
970,2025-04-01,15457.0,16353.0,15722.0,17289.0,18187.0,17561.0,28382.0,29405.0,28749.0,...,164.69,175.09,168.88,18518.0,19321.0,18795.0,670.0,786.0,733.0,25359.0

## Bank index

In [30]:
def set_time(dataframe: pd.DataFrame):
    def set_time_row(row):
        if row["Kỳ"] == 4:
            row["Năm"] = int(row["Năm"] + 1)
            row["Kỳ"] = int(1)
        else:
            row["Kỳ"] = int(row["Kỳ"] + 1)
        return row

    dataframe = dataframe.apply(set_time_row, axis=1)
    dataframe["Năm"] = dataframe["Năm"].astype(int)
    dataframe["Kỳ"] = dataframe["Kỳ"].astype(int)

    return dataframe

### Kết quả kinh doanh

In [31]:
tcb_kqkd = set_time(tcb_kqkd)
tcb_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2025,1,1.506496e+13,0.042920,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,6.700000e+07
1,2024,4,1.516828e+13,0.043733,5.737505e+12,0.243784,7.214168e+12,5.793022e+12,6.406000e+09
2,2024,3,1.534898e+13,0.096524,6.193361e+12,0.390187,7.826509e+12,6.269968e+12,5.805100e+10
3,2024,2,1.450724e+13,0.056439,6.220997e+12,0.383398,7.801659e+12,6.277003e+12,3.700000e+07
4,2024,1,1.444498e+13,0.179178,4.438909e+12,0.252418,5.773070e+12,4.481615e+12,2.363300e+10
5,2023,4,1.453272e+13,0.291638,4.612943e+12,-0.129299,5.842790e+12,4.668705e+12,8.450000e+09
6,2023,3,1.399786e+13,0.325161,4.455055e+12,-0.232354,5.649010e+12,4.503449e+12,3.100000e+07
7,2023,2,1.373220e+13,0.284815,4.496895e+12,-0.183068,5.623358e+12,4.537097e+12,2.642000e+09
8,2023,1,1.225004e+13,0.288072,3.544272e+12,-0.228202,4.746223e+12,3.572087e+12,3.000000e+07
9,2022,4,1.125138e+13,0.233667,5.297966e+12,0.221405,6.715079e+12,5.367540e+12,6.415000e+09
10,2022,3,1.056314e+13,0.211169,5.803525e+12,0.231876,7.321136e+12,5.882255e+12,2.295000e+09
11,2022,2,1.068808e+13,0.311234,5.504614e+12,0.251979,6.785330e+12,5.614544e+12,5.100000e+07
12,2022,1,9.510371e+12,0.240602,4.592230e+12,0.161678,6.139979e+12,4.683818e+12,4.001000e+09

In [32]:
tcb_kqkd = get_quarter(tcb_kqkd)
tcb_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận,Quarter
0,2025,1,1.506496e+13,0.042920,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,6.700000e+07,Q1 2025
1,2024,4,1.516828e+13,0.043733,5.737505e+12,0.243784,7.214168e+12,5.793022e+12,6.406000e+09,Q4 2024
2,2024,3,1.534898e+13,0.096524,6.193361e+12,0.390187,7.826509e+12,6.269968e+12,5.805100e+10,Q3 2024
3,2024,2,1.450724e+13,0.056439,6.220997e+12,0.383398,7.801659e+12,6.277003e+12,3.700000e+07,Q2 2024
4,2024,1,1.444498e+13,0.179178,4.438909e+12,0.252418,5.773070e+12,4.481615e+12,2.363300e+10,Q1 2024
5,2023,4,1.453272e+13,0.291638,4.612943e+12,-0.129299,5.842790e+12,4.668705e+12,8.450000e+09,Q4 2023
6,2023,3,1.399786e+13,0.325161,4.455055e+12,-0.232354,5.649010e+12,4.503449e+12,3.100000e+07,Q3 2023
7,2023,2,1.373220e+13,0.284815,4.496895e+12,-0.183068,5.623358e+12,4.537097e+12,2.642000e+09,Q2 2023
8,2023,1,1.225004e+13,0.288072,3.544272e+12,-0.228202,4.746223e+12,3.572087e+12,3.000000e+07,Q1 2023
9,2022,4,1.125138e+13,0.233667,5.297966e+12,0.221405,6.715079e+12,5.367540e+12,6.415000e+09,Q4 2022
10,2022,3,1.056314e+13,0.211169,5.803525e+12,0.231876,7.321136e+12,5.882255e+12,2.295000e+09,Q3 2022
11,2022,2,1.068808e+13,0.311234,5.504614e+12,0.251979,6.785330e+12,5.614544e+12,5.100000e+07,Q2 2022
12,2022,1,9.510371e+12,0.240602,4.592230e+12,0.161678,6.139979e+12,4.683818e+12,4.001000e+09,Q1 2022

### Chỉ số tài chính

In [33]:
tcb_cstc = set_time(tcb_cstc)
tcb_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROA (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,TCB,2025,1,0.391902,0.153980,0.023544,183686145214000,7064851739,8.512548,1.263150,3.909015,4.323498,477.160049,20583.468751
1,TCB,2024,4,0.642593,0.163577,0.025308,166730501040400,7064851739,7.361654,1.164898,3.441059,5.262235,812.119661,20259.284053
2,TCB,2024,3,0.653451,0.160440,0.025072,171546276495700,7045021622,7.989180,1.250613,3.640826,3.093598,879.111709,19470.448263
3,TCB,2024,2,0.731921,0.152018,0.024289,160626492981600,7045021622,8.138237,1.176752,3.733513,3.418103,883.034479,19375.368072
4,TCB,2024,1,0.584282,0.146945,0.023253,166967012441400,3522510811,9.261686,1.281412,4.167810,13.834033,1260.154827,36990.442043
5,TCB,2023,4,0.634329,0.142284,0.023307,122054999601150,3522510811,7.124790,0.969395,3.172653,7.203138,1309.561062,35743.930601
6,TCB,2023,3,0.707727,0.153479,0.025183,114310251705000,3517238514,6.422257,0.942791,2.977540,10.654725,1266.634316,34472.102053
7,TCB,2023,2,0.688981,0.171774,0.028175,111320598968100,3517238514,5.811075,0.953124,2.776766,12.109685,1278.530012,33206.575140
8,TCB,2023,1,0.519733,0.195193,0.031789,101648193054600,3517238514,5.038535,0.905180,2.485160,1.830379,1007.685997,31927.334627
9,TCB,2022,4,0.700283,0.208842,0.034202,97779230689200,3517238514,4.605034,0.898155,2.348556,3.614172,1506.285678,30952.342460
10,TCB,2022,3,0.744630,0.210537,0.034456,88986134404200,3517238514,4.388570,0.859142,2.220515,3.058984,1650.023158,29447.986467
11,TCB,2022,2,0.678655,0.210433,0.034342,126744024207800,3510914798,6.614889,1.297252,3.313036,2.861459,1567.857472,27828.050984
12,TCB,2022,1,0.633883,0.215348,0.035806,160097714788800,3510914798,8.857907,1.736520,4.318062,12.465108,1307.986740,26259.416507

In [34]:
tcb_cstc = get_quarter(tcb_cstc)
tcb_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROA (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),Quarter
0,TCB,2025,1,0.391902,0.153980,0.023544,183686145214000,7064851739,8.512548,1.263150,3.909015,4.323498,477.160049,20583.468751,Q1 2025
1,TCB,2024,4,0.642593,0.163577,0.025308,166730501040400,7064851739,7.361654,1.164898,3.441059,5.262235,812.119661,20259.284053,Q4 2024
2,TCB,2024,3,0.653451,0.160440,0.025072,171546276495700,7045021622,7.989180,1.250613,3.640826,3.093598,879.111709,19470.448263,Q3 2024
3,TCB,2024,2,0.731921,0.152018,0.024289,160626492981600,7045021622,8.138237,1.176752,3.733513,3.418103,883.034479,19375.368072,Q2 2024
4,TCB,2024,1,0.584282,0.146945,0.023253,166967012441400,3522510811,9.261686,1.281412,4.167810,13.834033,1260.154827,36990.442043,Q1 2024
5,TCB,2023,4,0.634329,0.142284,0.023307,122054999601150,3522510811,7.124790,0.969395,3.172653,7.203138,1309.561062,35743.930601,Q4 2023
6,TCB,2023,3,0.707727,0.153479,0.025183,114310251705000,3517238514,6.422257,0.942791,2.977540,10.654725,1266.634316,34472.102053,Q3 2023
7,TCB,2023,2,0.688981,0.171774,0.028175,111320598968100,3517238514,5.811075,0.953124,2.776766,12.109685,1278.530012,33206.575140,Q2 2023
8,TCB,2023,1,0.519733,0.195193,0.031789,101648193054600,3517238514,5.038535,0.905180,2.485160,1.830379,1007.685997,31927.334627,Q1 2023
9,TCB,2022,4,0.700283,0.208842,0.034202,97779230689200,3517238514,4.605034,0.898155,2.348556,3.614172,1506.285678,30952.342460,Q4 2022
10,TCB,2022,3,0.744630,0.210537,0.034456,88986134404200,3517238514,4.388570,0.859142,2.220515,3.058984,1650.023158,29447.986467,Q3 2022
11,TCB,2022,2,0.678655,0.210433,0.034342,126744024207800,3510914798,6.614889,1.297252,3.313036,2.861459,1567.857472,27828.050984,Q2 2022
12,TCB,2022,1,0.633883,0.215348,0.035806,160097714788800,3510914798,8.857907,1.736520,4.318062,12.465108,1307.986740,26259.416507,Q1 2022

### Cân đối tài chính

In [35]:
tcb_cdtc = set_time(tcb_cdtc)
tcb_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2025,1,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
1,2024,4,927053345000000,927053345000000,782685363000000,144367982000000,1437445000000
2,2024,3,908306700000000,908306700000000,769755043000000,138551657000000,1381928000000
3,2024,2,885653461000000,885653461000000,747780735000000,137872726000000,1372839000000
4,2024,1,849482012000000,849482012000000,717853947000000,131628065000000,1316833000000
5,2023,4,781278666000000,781278666000000,654148880000000,127129786000000,1274127000000
6,2023,3,732470169000000,732470169000000,610005199000000,122464970000000,1218365000000
7,2023,2,723517800000000,723517800000000,605552384000000,117965416000000,1169971000000
8,2023,1,699032544000000,699032544000000,585607578000000,113424966000000,1128915000000
9,2022,4,671353524000000,671353524000000,561454375000000,109899149000000,1032378000000
10,2022,3,623738504000000,623738504000000,519263345000000,104475159000000,962804000000
11,2022,2,615270328000000,615270328000000,516684338000000,98585990000000,884074000000
12,2022,1,568811435000000,568811435000000,475755598000000,93055837000000,844828000000

In [36]:
tcb_cdtc = get_quarter(tcb_cdtc)
tcb_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ,Quarter
0,2025,1,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000,Q1 2025
1,2024,4,927053345000000,927053345000000,782685363000000,144367982000000,1437445000000,Q4 2024
2,2024,3,908306700000000,908306700000000,769755043000000,138551657000000,1381928000000,Q3 2024
3,2024,2,885653461000000,885653461000000,747780735000000,137872726000000,1372839000000,Q2 2024
4,2024,1,849482012000000,849482012000000,717853947000000,131628065000000,1316833000000,Q1 2024
5,2023,4,781278666000000,781278666000000,654148880000000,127129786000000,1274127000000,Q4 2023
6,2023,3,732470169000000,732470169000000,610005199000000,122464970000000,1218365000000,Q3 2023
7,2023,2,723517800000000,723517800000000,605552384000000,117965416000000,1169971000000,Q2 2023
8,2023,1,699032544000000,699032544000000,585607578000000,113424966000000,1128915000000,Q1 2023
9,2022,4,671353524000000,671353524000000,561454375000000,109899149000000,1032378000000,Q4 2022
10,2022,3,623738504000000,623738504000000,519263345000000,104475159000000,962804000000,Q3 2022
11,2022,2,615270328000000,615270328000000,516684338000000,98585990000000,884074000000,Q2 2022
12,2022,1,568811435000000,568811435000000,475755598000000,93055837000000,844828000000,Q1 2022

## Trade

In [37]:
tcb_trade["Time"] = convert_str_to_datetime(tcb_trade["Time"])
tcb_trade

          Time   Open   High    Low  Close    Volume
0   2022-01-04  24.49  24.83  24.39  24.68  11334600
1   2022-01-05  24.68  24.83  24.39  24.49   9569600
2   2022-01-06  24.34  24.44  24.05  24.20  10716700
3   2022-01-07  24.20  24.29  23.95  23.98   7832200
4   2022-01-10  24.00  24.05  23.59  23.59   8771400
..         ...    ...    ...    ...    ...       ...
801 2025-03-25  28.10  28.20  27.85  27.90   8130100
802 2025-03-26  27.90  28.50  27.80  28.00  24089300
803 2025-03-27  28.00  28.15  27.75  27.75   7518900
804 2025-03-28  27.75  27.80  27.45  27.55  12353600
805 2025-03-31  27.40  27.50  27.20  27.50  12983300

[806 rows x 6 columns]

In [38]:
tcb_trade["Quarter"] = tcb_trade["Time"].apply(get_quarter_from_date)
tcb_trade

          Time   Open   High    Low  Close    Volume  Quarter
0   2022-01-04  24.49  24.83  24.39  24.68  11334600  Q1 2022
1   2022-01-05  24.68  24.83  24.39  24.49   9569600  Q1 2022
2   2022-01-06  24.34  24.44  24.05  24.20  10716700  Q1 2022
3   2022-01-07  24.20  24.29  23.95  23.98   7832200  Q1 2022
4   2022-01-10  24.00  24.05  23.59  23.59   8771400  Q1 2022
..         ...    ...    ...    ...    ...       ...      ...
801 2025-03-25  28.10  28.20  27.85  27.90   8130100  Q1 2025
802 2025-03-26  27.90  28.50  27.80  28.00  24089300  Q1 2025
803 2025-03-27  28.00  28.15  27.75  27.75   7518900  Q1 2025
804 2025-03-28  27.75  27.80  27.45  27.55  12353600  Q1 2025
805 2025-03-31  27.40  27.50  27.20  27.50  12983300  Q1 2025

[806 rows x 7 columns]

In [39]:
tcb_trade["Month"] = tcb_trade["Time"].dt.to_period("M")
tcb_trade

          Time   Open   High    Low  Close    Volume  Quarter    Month
0   2022-01-04  24.49  24.83  24.39  24.68  11334600  Q1 2022  2022-01
1   2022-01-05  24.68  24.83  24.39  24.49   9569600  Q1 2022  2022-01
2   2022-01-06  24.34  24.44  24.05  24.20  10716700  Q1 2022  2022-01
3   2022-01-07  24.20  24.29  23.95  23.98   7832200  Q1 2022  2022-01
4   2022-01-10  24.00  24.05  23.59  23.59   8771400  Q1 2022  2022-01
..         ...    ...    ...    ...    ...       ...      ...      ...
801 2025-03-25  28.10  28.20  27.85  27.90   8130100  Q1 2025  2025-03
802 2025-03-26  27.90  28.50  27.80  28.00  24089300  Q1 2025  2025-03
803 2025-03-27  28.00  28.15  27.75  27.75   7518900  Q1 2025  2025-03
804 2025-03-28  27.75  27.80  27.45  27.55  12353600  Q1 2025  2025-03
805 2025-03-31  27.40  27.50  27.20  27.50  12983300  Q1 2025  2025-03

[806 rows x 8 columns]

# Merge data

## Data

In [40]:
tcb_dataset = pd.merge(tcb_trade, gdp, left_on="Quarter", right_on="Time", how="outer")
tcb_dataset.drop(columns=["Time_y"], inplace=True)
tcb_dataset.columns = ["Time"] + [column for column in tcb_dataset.columns[1:]]
tcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Month,Previous_GDP
0,2022-01-04,24.49,24.83,24.39,24.68,11334600,Q1 2022,2022-01,1467490
1,2022-01-05,24.68,24.83,24.39,24.49,9569600,Q1 2022,2022-01,1467490
2,2022-01-06,24.34,24.44,24.05,24.20,10716700,Q1 2022,2022-01,1467490
3,2022-01-07,24.20,24.29,23.95,23.98,7832200,Q1 2022,2022-01,1467490
4,2022-01-10,24.00,24.05,23.59,23.59,8771400,Q1 2022,2022-01,1467490
...,...,...,...,...,...,...,...,...,...
801,2024-12-25,24.00,24.90,23.95,24.45,18370600,Q4 2024,2024-12,1561963
802,2024-12-26,24.50,24.55,24.30,24.35,5475600,Q4 2024,2024-12,1561963
803,2024-12-27,24.50,24.90,24.45,24.60,15395600,Q4 2024,2024-12,1561963
804,2024-12-30,24.75,24.75,24.35,24.40,10145800,Q4 2024,2024-12,1561963
805,2024-12-31,24.35,24.65,24.35,24.65,9403700,Q4 2024,2024-12,1561963

In [41]:
tcb_dataset = pd.merge(tcb_dataset, cpi, left_on="Month", right_on="Time", how="outer")
tcb_dataset.drop(columns=["Month", "Time_y"], inplace=True)
tcb_dataset.columns = ["Time"] + [column for column in tcb_dataset.columns[1:]]
tcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI
0,2022-01-04,24.49,24.83,24.39,24.68,11334600,Q1 2022,1467490,-0.18
1,2022-01-05,24.68,24.83,24.39,24.49,9569600,Q1 2022,1467490,-0.18
2,2022-01-06,24.34,24.44,24.05,24.20,10716700,Q1 2022,1467490,-0.18
3,2022-01-07,24.20,24.29,23.95,23.98,7832200,Q1 2022,1467490,-0.18
4,2022-01-10,24.00,24.05,23.59,23.59,8771400,Q1 2022,1467490,-0.18
...,...,...,...,...,...,...,...,...,...
801,2025-03-25,28.10,28.20,27.85,27.90,8130100,Q1 2025,1773652,0.34
802,2025-03-26,27.90,28.50,27.80,28.00,24089300,Q1 2025,1773652,0.34
803,2025-03-27,28.00,28.15,27.75,27.75,7518900,Q1 2025,1773652,0.34
804,2025-03-28,27.75,27.80,27.45,27.55,12353600,Q1 2025,1773652,0.34
805,2025-03-31,27.40,27.50,27.20,27.50,12983300,Q1 2025,1773652,0.34

In [42]:
tcb_dataset = pd.merge(tcb_dataset, tcb_foreign_exchange_rate, left_on="Time", right_on="Date", how="left")
tcb_dataset.drop(columns=["Date"], inplace=True)
tcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_JPY_Cash,Previous_JPY_Sell,Previous_JPY_Transfer,Previous_SGD_Cash,Previous_SGD_Sell,Previous_SGD_Transfer,Previous_THB_Cash,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash
0,2022-01-04,24.49,24.83,24.39,24.68,11334600,Q1 2022,1467490,-0.18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-05,24.68,24.83,24.39,24.49,9569600,Q1 2022,1467490,-0.18,15879.0,...,189.61,202.04,192.90,16269.0,17154.0,16537.0,599.0,714.0,662.0,22579.0
2,2022-01-06,24.34,24.44,24.05,24.20,10716700,Q1 2022,1467490,-0.18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-07,24.20,24.29,23.95,23.98,7832200,Q1 2022,1467490,-0.18,15743.0,...,189.58,202.00,192.87,16186.0,17065.0,16453.0,595.0,709.0,658.0,22564.0
4,2022-01-10,24.00,24.05,23.59,23.59,8771400,Q1 2022,1467490,-0.18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,28.10,28.20,27.85,27.90,8130100,Q1 2025,1773652,0.34,15623.0,...,164.66,175.01,168.85,18639.0,19438.0,18916.0,673.0,789.0,736.0,25414.0
802,2025-03-26,27.90,28.50,27.80,28.00,24089300,Q1 2025,1773652,0.34,15612.0,...,163.57,173.90,167.76,18615.0,19420.0,18892.0,670.0,787.0,733.0,25399.0
803,2025-03-27,28.00,28.15,27.75,27.75,7518900,Q1 2025,1773652,0.34,15648.0,...,163.70,174.02,167.89,18588.0,19392.0,18865.0,668.0,784.0,731.0,25350.0
804,2025-03-28,27.75,27.80,27.45,27.55,12353600,Q1 2025,1773652,0.34,15628.0,...,163.06,173.40,167.25,18560.0,19361.0,18837.0,670.0,786.0,733.0,25354.0
805,2025-03-31,27.40,27.50,27.20,27.50,12983300,Q1 2025,1773652,0.34,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
tcb_dataset = pd.merge(tcb_dataset, tcb_kqkd, on="Quarter", how="left")
tcb_dataset.drop(columns=["Năm", "Kỳ"], inplace=True)
tcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2022-01-04,24.49,24.83,24.39,24.68,11334600,Q1 2022,1467490,-0.18,NaN,...,NaN,NaN,NaN,9.510371e+12,0.240602,4.592230e+12,0.161678,6.139979e+12,4.683818e+12,4.001000e+09
1,2022-01-05,24.68,24.83,24.39,24.49,9569600,Q1 2022,1467490,-0.18,15879.0,...,714.0,662.0,22579.0,9.510371e+12,0.240602,4.592230e+12,0.161678,6.139979e+12,4.683818e+12,4.001000e+09
2,2022-01-06,24.34,24.44,24.05,24.20,10716700,Q1 2022,1467490,-0.18,NaN,...,NaN,NaN,NaN,9.510371e+12,0.240602,4.592230e+12,0.161678,6.139979e+12,4.683818e+12,4.001000e+09
3,2022-01-07,24.20,24.29,23.95,23.98,7832200,Q1 2022,1467490,-0.18,15743.0,...,709.0,658.0,22564.0,9.510371e+12,0.240602,4.592230e+12,0.161678,6.139979e+12,4.683818e+12,4.001000e+09
4,2022-01-10,24.00,24.05,23.59,23.59,8771400,Q1 2022,1467490,-0.18,NaN,...,NaN,NaN,NaN,9.510371e+12,0.240602,4.592230e+12,0.161678,6.139979e+12,4.683818e+12,4.001000e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,28.10,28.20,27.85,27.90,8130100,Q1 2025,1773652,0.34,15623.0,...,789.0,736.0,25414.0,1.506496e+13,0.042920,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,6.700000e+07
802,2025-03-26,27.90,28.50,27.80,28.00,24089300,Q1 2025,1773652,0.34,15612.0,...,787.0,733.0,25399.0,1.506496e+13,0.042920,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,6.700000e+07
803,2025-03-27,28.00,28.15,27.75,27.75,7518900,Q1 2025,1773652,0.34,15648.0,...,784.0,731.0,25350.0,1.506496e+13,0.042920,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,6.700000e+07
804,2025-03-28,27.75,27.80,27.45,27.55,12353600,Q1 2025,1773652,0.34,15628.0,...,786.0,733.0,25354.0,1.506496e+13,0.042920,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,6.700000e+07
805,2025-03-31,27.40,27.50,27.20,27.50,12983300,Q1 2025,1773652,0.34,NaN,...,NaN,NaN,NaN,1.506496e+13,0.042920,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,6.700000e+07

In [44]:
tcb_dataset = pd.merge(tcb_dataset, tcb_cstc, on="Quarter", how="left")
tcb_dataset.drop(columns=["Năm", "Kỳ", "CP"], inplace=True)
tcb_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,ROE (%),ROA (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,2022-01-04,24.49,24.83,24.39,24.68,11334600,Q1 2022,1467490,-0.18,NaN,...,0.215348,0.035806,160097714788800,3510914798,8.857907,1.73652,4.318062,12.465108,1307.986740,26259.416507
1,2022-01-05,24.68,24.83,24.39,24.49,9569600,Q1 2022,1467490,-0.18,15879.0,...,0.215348,0.035806,160097714788800,3510914798,8.857907,1.73652,4.318062,12.465108,1307.986740,26259.416507
2,2022-01-06,24.34,24.44,24.05,24.20,10716700,Q1 2022,1467490,-0.18,NaN,...,0.215348,0.035806,160097714788800,3510914798,8.857907,1.73652,4.318062,12.465108,1307.986740,26259.416507
3,2022-01-07,24.20,24.29,23.95,23.98,7832200,Q1 2022,1467490,-0.18,15743.0,...,0.215348,0.035806,160097714788800,3510914798,8.857907,1.73652,4.318062,12.465108,1307.986740,26259.416507
4,2022-01-10,24.00,24.05,23.59,23.59,8771400,Q1 2022,1467490,-0.18,NaN,...,0.215348,0.035806,160097714788800,3510914798,8.857907,1.73652,4.318062,12.465108,1307.986740,26259.416507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,28.10,28.20,27.85,27.90,8130100,Q1 2025,1773652,0.34,15623.0,...,0.153980,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
802,2025-03-26,27.90,28.50,27.80,28.00,24089300,Q1 2025,1773652,0.34,15612.0,...,0.153980,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
803,2025-03-27,28.00,28.15,27.75,27.75,7518900,Q1 2025,1773652,0.34,15648.0,...,0.153980,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
804,2025-03-28,27.75,27.80,27.45,27.55,12353600,Q1 2025,1773652,0.34,15628.0,...,0.153980,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
805,2025-03-31,27.40,27.50,27.20,27.50,12983300,Q1 2025,1773652,0.34,NaN,...,0.153980,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751

In [45]:
tcb_dataset = pd.merge(tcb_dataset, tcb_cdtc, on="Quarter", how="left")
tcb_dataset.drop(columns=["Năm", "Kỳ", "Quarter"], inplace=True)
tcb_dataset

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2022-01-04,24.49,24.83,24.39,24.68,11334600,1467490,-0.18,NaN,NaN,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
1,2022-01-05,24.68,24.83,24.39,24.49,9569600,1467490,-0.18,15879.0,16769.0,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
2,2022-01-06,24.34,24.44,24.05,24.20,10716700,1467490,-0.18,NaN,NaN,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
3,2022-01-07,24.20,24.29,23.95,23.98,7832200,1467490,-0.18,15743.0,16622.0,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
4,2022-01-10,24.00,24.05,23.59,23.59,8771400,1467490,-0.18,NaN,NaN,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,28.10,28.20,27.85,27.90,8130100,1773652,0.34,15623.0,16516.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
802,2025-03-26,27.90,28.50,27.80,28.00,24089300,1773652,0.34,15612.0,16505.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
803,2025-03-27,28.00,28.15,27.75,27.75,7518900,1773652,0.34,15648.0,16539.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
804,2025-03-28,27.75,27.80,27.45,27.55,12353600,1773652,0.34,15628.0,16517.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
805,2025-03-31,27.40,27.50,27.20,27.50,12983300,1773652,0.34,NaN,NaN,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000

## Future data

In [46]:
tcb_future = tcb_trade[tcb_trade["Quarter"] == gdp.iloc[-1, :]["Time"]].iloc[-30:, :].copy()
tcb_future["Previous_GDP"] = gdp.iloc[-1, :]["Previous_GDP"]
tcb_future = tcb_future.reset_index().drop(columns=["index"])
tcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Month,Previous_GDP
0,2025-02-18,25.70,26.10,25.65,25.85,10757000,Q1 2025,2025-02,1773652
1,2025-02-19,25.95,26.15,25.80,26.10,12938100,Q1 2025,2025-02,1773652
2,2025-02-20,26.20,26.60,26.05,26.55,21179500,Q1 2025,2025-02,1773652
3,2025-02-21,26.60,26.60,26.40,26.50,8800600,Q1 2025,2025-02,1773652
4,2025-02-24,26.40,26.65,26.30,26.50,11762200,Q1 2025,2025-02,1773652
5,2025-02-25,26.60,26.80,26.35,26.40,14496400,Q1 2025,2025-02,1773652
6,2025-02-26,26.40,26.55,26.30,26.30,9946900,Q1 2025,2025-02,1773652
7,2025-02-27,26.40,26.40,26.00,26.25,12505900,Q1 2025,2025-02,1773652
8,2025-02-28,26.25,26.30,26.05,26.10,12220900,Q1 2025,2025-02,1773652
9,2025-03-03,26.15,26.30,26.05,26.10,9359400,Q1 2025,2025-03,1773652
10,2025-03-04,26.10,27.55,26.00,27.50,40196300,Q1 2025,2025-03,1773652
11,2025-03-05,27.50,27.60,27.30,27.30,13269400,Q1 2025,2025-03,1773652
12,2025-03-06,27.45,27.70,27.35,27.70,12570100,Q1 2025,2025-03,1773652
13,2025-03-07,27.70,27.90,27.45,27.75,14922200,Q1 2025,2025-03,1773652
14,2025-03-10,27.75,28.30,27.70,27.80,13907700,Q1 2025,2025-03,1773652
15,2025-03-11,27.50,28.00,27.45,28.00,15313400,Q1 2025,2025-03,1773652
16,2025-03-12,28.10,28.25,27.80,27.85,10861400,Q1 2025,2025-03,1773652
17,2025-03-13,27.80,27.80,27.25,27.30,18991700,Q1 2025,2025-03,1773652
18,2025-03-14,27.10,27.40,27.10,27.30,10662000,Q1 2025,2025-03,1773652
19,2025-03-17,27.35,27.45,27.15,27.45,11002100,Q1 2025,2025-03,1773652
20,2025-03-18,27.50,27.60,27.30,27.40,7945400,Q1 2025,2025-03,1773652
21,2025-03-19,27.30,27.35,27.15,27.25,12083700,Q1 2025,2025-03,1773652
22,2025-03-20,27.50,27.55,27.10,27.45,14430700,Q1 2025,2025-03,1773652
23,2025-03-21,27.35,27.55,27.30,27.35,7447300,Q1 2025,2025-03,1773652
24,2025-03-24,27.35,28.20,27.20,28.00,21083700,Q1 2025,2025-03,1773652
25,2025-03-25,28.10,28.20,27.85,27.90,8130100,Q1 2025,2025-03,1773652
26,2025-03-26,27.90,28.50,27.80,28.00,24089300,Q1 2025,2025-03,1773652
27,2025-03-27,28.00,28.15,27.75,27.75,7518900,Q1 2025,2025-03,1773652
28,2025-03-28,27.75,27.80,27.45,27.55,12353600,Q1 2025,2025-03,1773652
29,2025-03-31,27.40,27.50,27.20,27.50,12983300,Q1 2025,2025-03,1773652

In [47]:
tcb_future = pd.merge(tcb_future, cpi, left_on="Month", right_on="Time", how="inner")
tcb_future.drop(columns=["Month", "Time_y"], inplace=True)
tcb_future.columns = ["Time"] + [column for column in tcb_future.columns[1:]]
tcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI
0,2025-02-18,25.70,26.10,25.65,25.85,10757000,Q1 2025,1773652,0.98
1,2025-02-19,25.95,26.15,25.80,26.10,12938100,Q1 2025,1773652,0.98
2,2025-02-20,26.20,26.60,26.05,26.55,21179500,Q1 2025,1773652,0.98
3,2025-02-21,26.60,26.60,26.40,26.50,8800600,Q1 2025,1773652,0.98
4,2025-02-24,26.40,26.65,26.30,26.50,11762200,Q1 2025,1773652,0.98
5,2025-02-25,26.60,26.80,26.35,26.40,14496400,Q1 2025,1773652,0.98
6,2025-02-26,26.40,26.55,26.30,26.30,9946900,Q1 2025,1773652,0.98
7,2025-02-27,26.40,26.40,26.00,26.25,12505900,Q1 2025,1773652,0.98
8,2025-02-28,26.25,26.30,26.05,26.10,12220900,Q1 2025,1773652,0.98
9,2025-03-03,26.15,26.30,26.05,26.10,9359400,Q1 2025,1773652,0.34
10,2025-03-04,26.10,27.55,26.00,27.50,40196300,Q1 2025,1773652,0.34
11,2025-03-05,27.50,27.60,27.30,27.30,13269400,Q1 2025,1773652,0.34
12,2025-03-06,27.45,27.70,27.35,27.70,12570100,Q1 2025,1773652,0.34
13,2025-03-07,27.70,27.90,27.45,27.75,14922200,Q1 2025,1773652,0.34
14,2025-03-10,27.75,28.30,27.70,27.80,13907700,Q1 2025,1773652,0.34
15,2025-03-11,27.50,28.00,27.45,28.00,15313400,Q1 2025,1773652,0.34
16,2025-03-12,28.10,28.25,27.80,27.85,10861400,Q1 2025,1773652,0.34
17,2025-03-13,27.80,27.80,27.25,27.30,18991700,Q1 2025,1773652,0.34
18,2025-03-14,27.10,27.40,27.10,27.30,10662000,Q1 2025,1773652,0.34
19,2025-03-17,27.35,27.45,27.15,27.45,11002100,Q1 2025,1773652,0.34
20,2025-03-18,27.50,27.60,27.30,27.40,7945400,Q1 2025,1773652,0.34
21,2025-03-19,27.30,27.35,27.15,27.25,12083700,Q1 2025,1773652,0.34
22,2025-03-20,27.50,27.55,27.10,27.45,14430700,Q1 2025,1773652,0.34
23,2025-03-21,27.35,27.55,27.30,27.35,7447300,Q1 2025,1773652,0.34
24,2025-03-24,27.35,28.20,27.20,28.00,21083700,Q1 2025,1773652,0.34
25,2025-03-25,28.10,28.20,27.85,27.90,8130100,Q1 2025,1773652,0.34
26,2025-03-26,27.90,28.50,27.80,28.00,24089300,Q1 2025,1773652,0.34
27,2025-03-27,28.00,28.15,27.75,27.75,7518900,Q1 2025,1773652,0.34
28,2025-03-28,27.75,27.80,27.45,27.55,12353600,Q1 2025,1773652,0.34
29,2025-03-31,27.40,27.50,27.20,27.50,12983300,Q1 2025,1773652,0.34

In [48]:
tcb_future = pd.merge(tcb_future, tcb_foreign_exchange_rate, left_on="Time", right_on="Date", how="inner")
tcb_future.drop(columns=["Date"], inplace=True)

last_row = tcb_future.iloc[-1]

new_row = {
    "Time": "2025-04-01",
    "Open": np.nan,
    "High": np.nan,
    "Low": np.nan,
    "Close": np.nan,
    "Volume": np.nan,
    "Quarter": last_row["Quarter"],
    "Previous_GDP": last_row["Previous_GDP"],
    "Previous_CPI": last_row["Previous_CPI"]
}

for columns in tcb_foreign_exchange_rate.columns:
    if columns.startswith("Previous_") and columns not in new_row:
        new_row[columns] = tcb_foreign_exchange_rate.iloc[-1][columns]

tcb_future = pd.concat([tcb_future, pd.DataFrame([new_row])], ignore_index=True)
tcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_JPY_Cash,Previous_JPY_Sell,Previous_JPY_Transfer,Previous_SGD_Cash,Previous_SGD_Sell,Previous_SGD_Transfer,Previous_THB_Cash,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash
0,2025-02-18 00:00:00,25.70,26.10,25.65,25.85,10757000.0,Q1 2025,1773652,0.98,15678.0,...,161.01,171.36,165.19,18450.0,19254.0,18726.0,671.0,787.0,734.0,25250.0
1,2025-02-19 00:00:00,25.95,26.15,25.80,26.10,12938100.0,Q1 2025,1773652,0.98,15692.0,...,161.24,171.56,165.42,18480.0,19283.0,18756.0,673.0,789.0,736.0,25300.0
2,2025-02-20 00:00:00,26.20,26.60,26.05,26.55,21179500.0,Q1 2025,1773652,0.98,15694.0,...,161.45,171.78,165.63,18472.0,19264.0,18748.0,672.0,789.0,736.0,25295.0
3,2025-02-21 00:00:00,26.60,26.60,26.40,26.50,8800600.0,Q1 2025,1773652,0.98,15754.0,...,163.16,173.51,167.35,18530.0,19335.0,18807.0,674.0,791.0,737.0,25300.0
4,2025-02-25 00:00:00,26.60,26.80,26.35,26.40,14496400.0,Q1 2025,1773652,0.98,15686.0,...,163.60,173.94,167.79,18504.0,19304.0,18780.0,676.0,792.0,739.0,25247.0
5,2025-02-26 00:00:00,26.40,26.55,26.30,26.30,9946900.0,Q1 2025,1773652,0.98,15639.0,...,163.80,174.20,167.99,18512.0,19320.0,18789.0,673.0,789.0,736.0,25300.0
6,2025-02-27 00:00:00,26.40,26.40,26.00,26.25,12505900.0,Q1 2025,1773652,0.98,15618.0,...,164.20,174.60,168.39,18540.0,19349.0,18817.0,673.0,789.0,736.0,25300.0
7,2025-02-28 00:00:00,26.25,26.30,26.05,26.10,12220900.0,Q1 2025,1773652,0.98,15565.0,...,163.72,174.06,167.91,18512.0,19317.0,18789.0,669.0,785.0,732.0,25320.0
8,2025-03-04 00:00:00,26.10,27.55,26.00,27.50,40196300.0,Q1 2025,1773652,0.34,15409.0,...,163.50,173.84,167.69,18467.0,19270.0,18743.0,665.0,781.0,728.0,25379.0
9,2025-03-05 00:00:00,27.50,27.60,27.30,27.30,13269400.0,Q1 2025,1773652,0.34,15366.0,...,164.82,175.16,169.01,18468.0,19271.0,18744.0,670.0,787.0,733.0,25330.0
10,2025-03-06 00:00:00,27.45,27.70,27.35,27.70,12570100.0,Q1 2025,1773652,0.34,15504.0,...,164.04,174.38,168.23,18553.0,19355.0,18829.0,673.0,790.0,736.0,25280.0
11,2025-03-07 00:00:00,27.70,27.90,27.45,27.75,14922200.0,Q1 2025,1773652,0.34,15618.0,...,165.84,176.23,170.04,18589.0,19396.0,18865.0,670.0,787.0,733.0,25275.0
12,2025-03-11 00:00:00,27.50,28.00,27.45,28.00,15313400.0,Q1 2025,1773652,0.34,15622.0,...,166.71,177.07,170.91,18634.0,19433.0,18911.0,671.0,787.0,734.0,25292.0
13,2025-03-12 00:00:00,28.10,28.25,27.80,27.85,10861400.0,Q1 2025,1773652,0.34,15498.0,...,166.13,176.52,170.33,18598.0,19403.0,18875.0,669.0,785.0,732.0,25245.0
14,2025-03-13 00:00:00,27.80,27.80,27.25,27.30,18991700.0,Q1 2025,1773652,0.34,15479.0,...,164.55,174.89,168.74,18553.0,19348.0,18830.0,667.0,784.0,730.0,25235.0
15,2025-03-14 00:00:00,27.10,27.40,27.10,27.30,10662000.0,Q1 2025,1773652,0.34,15522.0,...,165.53,175.86,169.73,18580.0,19378.0,18856.0,670.0,787.0,733.0,25285.0
16,2025-03-18 00:00:00,27.50,27.60,27.30,27.40,7945400.0,Q1 2025,1773652,0.34,15690.0,...,165.07,175.43,169.27,18626.0,19420.0,18903.0,675.0,791.0,738.0,25312.0
17,2025-03-19 00:00:00,27.30,27.35,27.15,27.25,12083700.0,Q1 2025,1773652,0.34,15775.0,...,163.71,174.02,167.90,18647.0,19450.0,18924.0,675.0,792.0,739.0,25307.0
18,2025-03-20 00:00:00,27.50,27.55,27.10,27.45,14430700.0,Q1 2025,1773652,0.34,15637.0,...,163.85,174.18,168.04,18620.0,19420.0,18897.0,675.0,791.0,738.0,25325.0
19,2025-03-21 00:00:00,27.35,27.55,27.30,27.35,7447300.0,Q1 2025,1773652,0.34,15574.0,...,165.04,175.37,169.24,18602.0,19408.0,18879.0,673.0,789.0,736.0,25335.0
20,2025-03-25 00:00:00,28.10,28.20,27.85,27.90,8130100.0,Q1 2025,1773652,0.34,15623.0,...,164.66,175.01,168.85,18639.0,19438.0,18916.0,673.0,789.0,736.0,25414.0
21,2025-03-26 00:00:00,27.90,28.50,27.80,28.00,24089300.0,Q1 2025,1773652,0.34,15612.0,...,163.57,173.90,167.76,18615.0,19420.0,18892.0,670.0,787.0,733.0,25399.0
22,2025-03-27 00:00:00,28.00,28.15,27.75,27.75,7518900.0,Q1 2025,1773652,0.34,15648.0,...,163.70,174.02,167.89,18588.0,19392.0,18865.0,668.0,784.0,731.0,25350.0
23,2025-03-28 00:00:00,27.75,27.80,27.45,27.55,12353600.0,Q1 2025,1773652,0.34,15628.0,...,163.06,173.40,167.25,18560.0,19361.0,18837.0,670.0,786.0,733.0,25354.0
24,2025-04-01,NaN,NaN,NaN,NaN,NaN,Q1 2025,1773652,0.34,15457.0,...,164.69,175.09,168.88,18518.0,19321.0,18795.0,670.0,786.0,733.0,25359.0

In [49]:
tcb_future = pd.merge(tcb_future, tcb_kqkd, on="Quarter", how="left")
tcb_future.drop(columns=["Năm", "Kỳ"], inplace=True)
tcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2025-02-18 00:00:00,25.70,26.10,25.65,25.85,10757000.0,Q1 2025,1773652,0.98,15678.0,...,787.0,734.0,25250.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
1,2025-02-19 00:00:00,25.95,26.15,25.80,26.10,12938100.0,Q1 2025,1773652,0.98,15692.0,...,789.0,736.0,25300.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
2,2025-02-20 00:00:00,26.20,26.60,26.05,26.55,21179500.0,Q1 2025,1773652,0.98,15694.0,...,789.0,736.0,25295.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
3,2025-02-21 00:00:00,26.60,26.60,26.40,26.50,8800600.0,Q1 2025,1773652,0.98,15754.0,...,791.0,737.0,25300.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
4,2025-02-25 00:00:00,26.60,26.80,26.35,26.40,14496400.0,Q1 2025,1773652,0.98,15686.0,...,792.0,739.0,25247.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
5,2025-02-26 00:00:00,26.40,26.55,26.30,26.30,9946900.0,Q1 2025,1773652,0.98,15639.0,...,789.0,736.0,25300.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
6,2025-02-27 00:00:00,26.40,26.40,26.00,26.25,12505900.0,Q1 2025,1773652,0.98,15618.0,...,789.0,736.0,25300.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
7,2025-02-28 00:00:00,26.25,26.30,26.05,26.10,12220900.0,Q1 2025,1773652,0.98,15565.0,...,785.0,732.0,25320.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
8,2025-03-04 00:00:00,26.10,27.55,26.00,27.50,40196300.0,Q1 2025,1773652,0.34,15409.0,...,781.0,728.0,25379.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
9,2025-03-05 00:00:00,27.50,27.60,27.30,27.30,13269400.0,Q1 2025,1773652,0.34,15366.0,...,787.0,733.0,25330.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
10,2025-03-06 00:00:00,27.45,27.70,27.35,27.70,12570100.0,Q1 2025,1773652,0.34,15504.0,...,790.0,736.0,25280.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
11,2025-03-07 00:00:00,27.70,27.90,27.45,27.75,14922200.0,Q1 2025,1773652,0.34,15618.0,...,787.0,733.0,25275.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
12,2025-03-11 00:00:00,27.50,28.00,27.45,28.00,15313400.0,Q1 2025,1773652,0.34,15622.0,...,787.0,734.0,25292.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
13,2025-03-12 00:00:00,28.10,28.25,27.80,27.85,10861400.0,Q1 2025,1773652,0.34,15498.0,...,785.0,732.0,25245.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
14,2025-03-13 00:00:00,27.80,27.80,27.25,27.30,18991700.0,Q1 2025,1773652,0.34,15479.0,...,784.0,730.0,25235.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
15,2025-03-14 00:00:00,27.10,27.40,27.10,27.30,10662000.0,Q1 2025,1773652,0.34,15522.0,...,787.0,733.0,25285.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
16,2025-03-18 00:00:00,27.50,27.60,27.30,27.40,7945400.0,Q1 2025,1773652,0.34,15690.0,...,791.0,738.0,25312.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
17,2025-03-19 00:00:00,27.30,27.35,27.15,27.25,12083700.0,Q1 2025,1773652,0.34,15775.0,...,792.0,739.0,25307.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
18,2025-03-20 00:00:00,27.50,27.55,27.10,27.45,14430700.0,Q1 2025,1773652,0.34,15637.0,...,791.0,738.0,25325.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
19,2025-03-21 00:00:00,27.35,27.55,27.30,27.35,7447300.0,Q1 2025,1773652,0.34,15574.0,...,789.0,736.0,25335.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
20,2025-03-25 00:00:00,28.10,28.20,27.85,27.90,8130100.0,Q1 2025,1773652,0.34,15623.0,...,789.0,736.0,25414.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
21,2025-03-26 00:00:00,27.90,28.50,27.80,28.00,24089300.0,Q1 2025,1773652,0.34,15612.0,...,787.0,733.0,25399.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
22,2025-03-27 00:00:00,28.00,28.15,27.75,27.75,7518900.0,Q1 2025,1773652,0.34,15648.0,...,784.0,731.0,25350.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
23,2025-03-28 00:00:00,27.75,27.80,27.45,27.55,12353600.0,Q1 2025,1773652,0.34,15628.0,...,786.0,733.0,25354.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0
24,2025-04-01,NaN,NaN,NaN,NaN,NaN,Q1 2025,1773652,0.34,15457.0,...,786.0,733.0,25359.0,1.506496e+13,0.04292,3.371065e+12,-0.240565,4.696032e+12,3.420111e+12,67000000.0

In [50]:
tcb_future = pd.merge(tcb_future, tcb_cstc, on="Quarter", how="left")
tcb_future.drop(columns=["Năm", "Kỳ", "CP"], inplace=True)
tcb_future

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,ROE (%),ROA (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,2025-02-18 00:00:00,25.70,26.10,25.65,25.85,10757000.0,Q1 2025,1773652,0.98,15678.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
1,2025-02-19 00:00:00,25.95,26.15,25.80,26.10,12938100.0,Q1 2025,1773652,0.98,15692.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
2,2025-02-20 00:00:00,26.20,26.60,26.05,26.55,21179500.0,Q1 2025,1773652,0.98,15694.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
3,2025-02-21 00:00:00,26.60,26.60,26.40,26.50,8800600.0,Q1 2025,1773652,0.98,15754.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
4,2025-02-25 00:00:00,26.60,26.80,26.35,26.40,14496400.0,Q1 2025,1773652,0.98,15686.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
5,2025-02-26 00:00:00,26.40,26.55,26.30,26.30,9946900.0,Q1 2025,1773652,0.98,15639.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
6,2025-02-27 00:00:00,26.40,26.40,26.00,26.25,12505900.0,Q1 2025,1773652,0.98,15618.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
7,2025-02-28 00:00:00,26.25,26.30,26.05,26.10,12220900.0,Q1 2025,1773652,0.98,15565.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
8,2025-03-04 00:00:00,26.10,27.55,26.00,27.50,40196300.0,Q1 2025,1773652,0.34,15409.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
9,2025-03-05 00:00:00,27.50,27.60,27.30,27.30,13269400.0,Q1 2025,1773652,0.34,15366.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
10,2025-03-06 00:00:00,27.45,27.70,27.35,27.70,12570100.0,Q1 2025,1773652,0.34,15504.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
11,2025-03-07 00:00:00,27.70,27.90,27.45,27.75,14922200.0,Q1 2025,1773652,0.34,15618.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
12,2025-03-11 00:00:00,27.50,28.00,27.45,28.00,15313400.0,Q1 2025,1773652,0.34,15622.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
13,2025-03-12 00:00:00,28.10,28.25,27.80,27.85,10861400.0,Q1 2025,1773652,0.34,15498.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
14,2025-03-13 00:00:00,27.80,27.80,27.25,27.30,18991700.0,Q1 2025,1773652,0.34,15479.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
15,2025-03-14 00:00:00,27.10,27.40,27.10,27.30,10662000.0,Q1 2025,1773652,0.34,15522.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
16,2025-03-18 00:00:00,27.50,27.60,27.30,27.40,7945400.0,Q1 2025,1773652,0.34,15690.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
17,2025-03-19 00:00:00,27.30,27.35,27.15,27.25,12083700.0,Q1 2025,1773652,0.34,15775.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
18,2025-03-20 00:00:00,27.50,27.55,27.10,27.45,14430700.0,Q1 2025,1773652,0.34,15637.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
19,2025-03-21 00:00:00,27.35,27.55,27.30,27.35,7447300.0,Q1 2025,1773652,0.34,15574.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
20,2025-03-25 00:00:00,28.10,28.20,27.85,27.90,8130100.0,Q1 2025,1773652,0.34,15623.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
21,2025-03-26 00:00:00,27.90,28.50,27.80,28.00,24089300.0,Q1 2025,1773652,0.34,15612.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
22,2025-03-27 00:00:00,28.00,28.15,27.75,27.75,7518900.0,Q1 2025,1773652,0.34,15648.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
23,2025-03-28 00:00:00,27.75,27.80,27.45,27.55,12353600.0,Q1 2025,1773652,0.34,15628.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751
24,2025-04-01,NaN,NaN,NaN,NaN,NaN,Q1 2025,1773652,0.34,15457.0,...,0.15398,0.023544,183686145214000,7064851739,8.512548,1.26315,3.909015,4.323498,477.160049,20583.468751

In [51]:
tcb_future = pd.merge(tcb_future, tcb_cdtc, on="Quarter", how="left")
tcb_future.drop(columns=["Năm", "Kỳ", "Quarter"], inplace=True)
tcb_future

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2025-02-18 00:00:00,25.70,26.10,25.65,25.85,10757000.0,1773652,0.98,15678.0,16576.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
1,2025-02-19 00:00:00,25.95,26.15,25.80,26.10,12938100.0,1773652,0.98,15692.0,16590.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
2,2025-02-20 00:00:00,26.20,26.60,26.05,26.55,21179500.0,1773652,0.98,15694.0,16588.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
3,2025-02-21 00:00:00,26.60,26.60,26.40,26.50,8800600.0,1773652,0.98,15754.0,16647.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
4,2025-02-25 00:00:00,26.60,26.80,26.35,26.40,14496400.0,1773652,0.98,15686.0,16579.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
5,2025-02-26 00:00:00,26.40,26.55,26.30,26.30,9946900.0,1773652,0.98,15639.0,16538.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
6,2025-02-27 00:00:00,26.40,26.40,26.00,26.25,12505900.0,1773652,0.98,15618.0,16515.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
7,2025-02-28 00:00:00,26.25,26.30,26.05,26.10,12220900.0,1773652,0.98,15565.0,16463.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
8,2025-03-04 00:00:00,26.10,27.55,26.00,27.50,40196300.0,1773652,0.34,15409.0,16308.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
9,2025-03-05 00:00:00,27.50,27.60,27.30,27.30,13269400.0,1773652,0.34,15366.0,16262.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
10,2025-03-06 00:00:00,27.45,27.70,27.35,27.70,12570100.0,1773652,0.34,15504.0,16396.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
11,2025-03-07 00:00:00,27.70,27.90,27.45,27.75,14922200.0,1773652,0.34,15618.0,16521.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
12,2025-03-11 00:00:00,27.50,28.00,27.45,28.00,15313400.0,1773652,0.34,15622.0,16512.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
13,2025-03-12 00:00:00,28.10,28.25,27.80,27.85,10861400.0,1773652,0.34,15498.0,16392.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
14,2025-03-13 00:00:00,27.80,27.80,27.25,27.30,18991700.0,1773652,0.34,15479.0,16373.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
15,2025-03-14 00:00:00,27.10,27.40,27.10,27.30,10662000.0,1773652,0.34,15522.0,16410.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
16,2025-03-18 00:00:00,27.50,27.60,27.30,27.40,7945400.0,1773652,0.34,15690.0,16581.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
17,2025-03-19 00:00:00,27.30,27.35,27.15,27.25,12083700.0,1773652,0.34,15775.0,16669.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
18,2025-03-20 00:00:00,27.50,27.55,27.10,27.45,14430700.0,1773652,0.34,15637.0,16526.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
19,2025-03-21 00:00:00,27.35,27.55,27.30,27.35,7447300.0,1773652,0.34,15574.0,16465.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
20,2025-03-25 00:00:00,28.10,28.20,27.85,27.90,8130100.0,1773652,0.34,15623.0,16516.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
21,2025-03-26 00:00:00,27.90,28.50,27.80,28.00,24089300.0,1773652,0.34,15612.0,16505.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
22,2025-03-27 00:00:00,28.00,28.15,27.75,27.75,7518900.0,1773652,0.34,15648.0,16539.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
23,2025-03-28 00:00:00,27.75,27.80,27.45,27.55,12353600.0,1773652,0.34,15628.0,16517.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
24,2025-04-01,NaN,NaN,NaN,NaN,NaN,1773652,0.34,15457.0,16353.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000

# Overview

In [52]:
tcb_dataset.describe()

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
count,806,806.000000,806.000000,806.000000,806.000000,8.060000e+02,8.060000e+02,806.000000,637.000000,637.000000,...,806.000000,806.000000,806.000000,806.000000,806.000000,8.060000e+02,8.060000e+02,8.060000e+02,8.060000e+02,8.060000e+02
mean,2023-08-18 01:23:58.213399552,19.028424,19.236563,18.806886,19.010881,7.788724e+06,1.462671e+06,0.317469,15665.574568,16555.004710,...,1.125297,3.255219,6.389702,1173.665979,28193.515123,7.666955e+14,7.666955e+14,6.445163e+14,1.221792e+14,1.268231e+12
min,2022-01-04 00:00:00,9.360000,10.570000,9.360000,10.040000,1.200567e+06,1.255312e+06,-0.340000,14483.000000,15370.000000,...,0.859142,2.220515,1.830379,477.160049,19375.368072,5.688114e+14,5.688114e+14,4.757556e+14,9.305584e+13,8.448280e+11
25%,2022-10-26 06:00:00,15.042500,15.207500,14.860000,15.030000,3.867052e+06,1.376321e+06,0.080000,15306.000000,16197.000000,...,0.942791,2.776766,3.093598,883.034479,20583.468751,6.713535e+14,6.713535e+14,5.614544e+14,1.098991e+14,1.032378e+12
50%,2023-08-16 12:00:00,18.075000,18.280000,17.930000,18.115000,6.342134e+06,1.450322e+06,0.290000,15654.000000,16542.000000,...,1.164898,3.313036,4.323498,1266.634316,29447.986467,7.324702e+14,7.324702e+14,6.100052e+14,1.224650e+14,1.218365e+12
75%,2024-06-10 18:00:00,23.565000,23.740000,23.350000,23.515000,1.024498e+07,1.538951e+06,0.450000,16016.000000,16911.000000,...,1.263150,3.733513,10.654725,1309.561062,33206.575140,8.856535e+14,8.856535e+14,7.477807e+14,1.378727e+14,1.372839e+12
max,2025-03-31 00:00:00,28.100000,28.500000,27.850000,28.000000,4.105190e+07,1.773652e+06,1.080000,16943.000000,17834.000000,...,1.736520,4.318062,13.834033,1650.023158,36990.442043,9.787985e+14,9.787985e+14,8.308589e+14,1.479396e+14,2.520466e+12
std,NaN,4.539687,4.549915,4.534884,4.540062,5.523559e+06,1.337556e+05,0.348989,471.337715,473.984401,...,0.232657,0.651646,4.080325,323.715437,6213.907054,1.266991e+14,1.266991e+14,1.100142e+14,1.687432e+13,3.948574e+11

In [53]:
tcb_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 56 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Time                                              806 non-null    datetime64[ns]
 1   Open                                              806 non-null    float64
 2   High                                              806 non-null    float64
 3   Low                                               806 non-null    float64
 4   Close                                             806 non-null    float64
 5   Volume                                            806 non-null    int64
 6   Previous_GDP                                      806 non-null    int64
 7   Previous_CPI                                      806 non-null    float64
 8   Previous_AUD_Cash                                 637 non-null    float64
 9   Previous_AUD_Sell                                 637 non-null    float64
 10  Previous_AUD_Transfer                             637 non-null    float64
 11  Previous_CAD_Cash                                 637 non-null    float64
 12  Previous_CAD_Sell                                 637 non-null    float64
 13  Previous_CAD_Transfer                             637 non-null    float64
 14  Previous_CHF_Cash                                 637 non-null    float64
 15  Previous_CHF_Sell                                 637 non-null    float64
 16  Previous_CHF_Transfer                             637 non-null    float64
 17  Previous_EUR_Cash                                 637 non-null    float64
 18  Previous_EUR_Sell                                 637 non-null    float64
 19  Previous_EUR_Transfer                             637 non-null    float64
 20  Previous_GBP_Cash                                 637 non-null    float64
 21  Previous_GBP_Sell                                 637 non-null    float64
 22  Previous_GBP_Transfer                             637 non-null    float64
 23  Previous_JPY_Cash                                 637 non-null    float64
 24  Previous_JPY_Sell                                 637 non-null    float64
 25  Previous_JPY_Transfer                             637 non-null    float64
 26  Previous_SGD_Cash                                 637 non-null    float64
 27  Previous_SGD_Sell                                 637 non-null    float64
 28  Previous_SGD_Transfer                             637 non-null    float64
 29  Previous_THB_Cash                                 637 non-null    float64
 30  Previous_THB_Sell                                 637 non-null    float64
 31  Previous_THB_Transfer                             637 non-null    float64
 32  Previous_USD_Cash                                 637 non-null    float64
 33  Doanh thu (đồng)                                  806 non-null    float64
 34  Tăng trưởng doanh thu (%)                         806 non-null    float64
 35  Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng)  806 non-null    float64
 36  Tăng trưởng lợi nhuận (%)                         806 non-null    float64
 37  LN trước thuế                                     806 non-null    float64
 38  Lợi nhuận thuần                                   806 non-null    float64
 39  Cố tức đã nhận                                    806 non-null    float64
 40  Biên lợi nhuận ròng (%)                           806 non-null    float64
 41  ROE (%)                                           806 non-null    float64
 42  ROA (%)                                           806 non-null    float64
 43  Vốn hóa (Tỷ đồng)                                 806 non-null    int64
 44  Số CP lưu hành (Triệu CP)                         806 non-null    int64
 45  P/E                                               806 non-null    float64
 46  P/B                                               806 non-null    float64
 47  P/S                                               806 non-null    float64
 48  P/Cash Flow                                       806 non-null    float64
 49  EPS (VND)                                         806 non-null    float64
 50  BVPS (VND)                                        806 non-null    float64
 51  TỔNG CỘNG TÀI SẢN (đồng)                          806 non-null    int64
 52  TỔNG CỘNG NGUỒN VỐN (đồng)                        806 non-null    int64
 53  NỢ PHẢI TRẢ (đồng)                                806 non-null    int64
 54  VỐN CHỦ SỞ HỮU (đồng)                             806 non-null    int64
 55  LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ                      806 non-null    int64
dtypes: datetime64[ns](1), float64(46), int64(9)
memory usage: 352.8 KB

In [54]:
tcb_dataset.dropna(axis=0, inplace=True)
tcb_dataset

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
1,2022-01-05,24.68,24.83,24.39,24.49,9569600,1467490,-0.18,15879.0,16769.0,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
3,2022-01-07,24.20,24.29,23.95,23.98,7832200,1467490,-0.18,15743.0,16622.0,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
5,2022-01-11,23.71,23.81,23.47,23.49,7296500,1467490,-0.18,15794.0,16671.0,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
6,2022-01-12,23.49,24.44,23.47,24.44,12044200,1467490,-0.18,15791.0,16671.0,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
7,2022-01-13,24.68,25.12,24.34,24.49,14417100,1467490,-0.18,15829.0,16709.0,...,1.73652,4.318062,12.465108,1307.986740,26259.416507,568811435000000,568811435000000,475755598000000,93055837000000,844828000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,2025-03-21,27.35,27.55,27.30,27.35,7447300,1773652,0.34,15574.0,16465.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
801,2025-03-25,28.10,28.20,27.85,27.90,8130100,1773652,0.34,15623.0,16516.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
802,2025-03-26,27.90,28.50,27.80,28.00,24089300,1773652,0.34,15612.0,16505.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
803,2025-03-27,28.00,28.15,27.75,27.75,7518900,1773652,0.34,15648.0,16539.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000
804,2025-03-28,27.75,27.80,27.45,27.55,12353600,1773652,0.34,15628.0,16517.0,...,1.26315,3.909015,4.323498,477.160049,20583.468751,978798549000000,978798549000000,830858928000000,147939621000000,2520466000000

# Save data

In [55]:
tcb_dataset.to_csv(".\\dataset\\official_dataset\\tcb_dataset.csv", index=False)

In [ ]:
tcb_future.to_csv(".\\dataset\\official_dataset\\future\\tcb_future.csv", index=False)