In [1]:
import os
os.chdir("D:\\UIT\\HK\\HK6\\IS403\\Đồ án\\Source code")
print("Thư mục làm việc hiện tại:", os.getcwd())

Thư mục làm việc hiện tại: D:\UIT\HK\HK6\IS403\Đồ án\Source code

# Import modules

In [2]:
import pandas as pd

In [3]:
from datetime import timedelta

In [4]:
from utils import (
    convert_str_to_datetime,
    convert_str_to_monthyear,
    convert_quarter_to_datetime,
    convert_datetime_to_quarteryear_str,
    get_quarter_from_date,
    get_quarter
)

# Load data

## CPI

In [5]:
cpi = pd.read_excel(".\\dataset\\clean_dataset\\cpi.xlsx", skiprows=1)
cpi

         Time  Value
0  2021-12-01  -0.18
1  2022-01-01   0.19
2  2022-02-01   1.00
3  2022-03-01   0.70
4  2022-04-01   0.18
5  2022-05-01   0.38
6  2022-06-01   0.69
7  2022-07-01   0.40
8  2022-08-01   0.01
9  2022-09-01   0.40
10 2022-10-01   0.15
11 2022-11-01   0.39
12 2022-12-01  -0.01
13 2023-01-01   0.52
14 2023-02-01   0.45
15 2023-03-01  -0.23
16 2023-04-01  -0.34
17 2023-05-01   0.01
18 2023-06-01   0.27
19 2023-07-01   0.45
20 2023-08-01   0.88
21 2023-09-01   1.08
22 2023-10-01   0.08
23 2023-11-01   0.25
24 2023-12-01   0.12
25 2024-01-01   0.31
26 2024-02-01   1.04
27 2024-03-01  -0.23
28 2024-04-01   0.07
29 2024-05-01   0.05
30 2024-06-01   0.17
31 2024-07-01   0.48
32 2024-08-01   0.00
33 2024-09-01   0.29
34 2024-10-01   0.33
35 2024-11-01   0.13
36 2024-12-01   0.29
37 2025-01-01   0.98
38 2025-02-01   0.34

## GDP

In [6]:
gdp = pd.read_excel(".\\dataset\\clean_dataset\\gdp.xlsx", sheet_name="GDP (2010)", skiprows=1)
gdp

       Time    Value
0   Q4 2021  1467490
1   Q1 2022  1255312
2   Q2 2022  1346821
3   Q3 2022  1376321
4   Q4 2022  1538951
5   Q1 2023  1320755
6   Q2 2023  1407473
7   Q3 2023  1450322
8   Q4 2023  1643902
9   Q1 2024  1396660
10  Q2 2024  1508387
11  Q3 2024  1561963
12  Q4 2024  1773652

## Foreign exchange rate

In [7]:
bid_foreign_exchange_rate = pd.read_csv(".\\dataset\\clean_dataset\\foreign_exchange_rate\\bid_foreign_exchange_rate.csv")
bid_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2022-01-01,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
1,2022-01-02,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
2,2022-01-03,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
3,2022-01-04,16028.0,16672.0,16125.0,17457.0,18188.0,17562.0,24211.0,25213.0,24357.0,...,191.88,202.14,193.03,16416.0,17056.0,16515.0,646.13,712.94,652.66,22585.0
4,2022-01-05,16071.0,16708.0,16168.0,17467.0,18194.0,17572.0,24255.0,25251.0,24402.0,...,191.14,201.33,192.30,16399.0,17040.0,16498.0,648.19,715.23,654.74,22555.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,2025-03-27,15957.0,16414.0,15981.0,17705.0,18211.0,17729.0,28567.0,29401.0,28596.0,...,166.63,174.41,166.90,18759.0,19433.0,18837.0,693.35,778.90,727.85,24384.0
1066,2025-03-28,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1067,2025-03-29,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1068,2025-03-30,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1069,2025-03-31,15806.0,16256.0,15829.0,17606.0,18111.0,17631.0,28644.0,29477.0,28673.0,...,168.11,175.92,168.38,18715.0,19388.0,18792.0,693.15,778.67,727.64,24370.0

## Bank index

In [8]:
bid_kqkd = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\bid\\bid_kqkd.csv")
bid_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2024,4,36469243000000,-0.027386,7810117000000,0.285767,9938144000000,7946423000000,144692000000
1,2024,3,34326293000000,-0.099149,5151318000000,0.124035,6498279000000,5213866000000,105983000000
2,2024,2,33896893000000,-0.140234,6365954000000,0.173203,8158532000000,6528169000000,99423000000
3,2024,1,33595982000000,-0.109691,5812648000000,0.062937,7389914000000,5915579000000,95644000000
4,2023,4,37496112000000,0.103046,6074285000000,0.489183,7886764000000,6190625000000,75128000000
5,2023,3,38104286000000,0.244256,4582880000000,-0.131694,5892788000000,4727935000000,96319000000
6,2023,2,39425710000000,0.339555,5426134000000,0.052013,6950633000000,5549837000000,73920000000
7,2023,1,37735207000000,0.400121,5468480000000,0.531290,6919579000000,5559041000000,109908000000
8,2022,4,33993242000000,0.371351,4078937000000,0.839261,5245911000000,4156992000000,44232000000
9,2022,3,30624151000000,0.178320,5277956000000,1.577107,6673383000000,5354232000000,99667000000
10,2022,2,29431951000000,0.124599,5157859000000,0.409747,6489854000000,5199635000000,63616000000
11,2022,1,26951389000000,0.120256,3571160000000,0.348556,4513501000000,3637665000000,83437000000
12,2021,4,24788144000000,-0.045132,2217704000000,0.355021,2868211000000,2295616000000,34547000000

In [9]:
bid_cstc = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\bid\\bid_cstc.csv")
bid_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROIC (%),ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,BID,2024,4,0.499409,0.187768,0.0,0.009934,0.0,256279709970500,7021361917,10.037253,1.773779,3.161571,2.552809,1112.336480,20577.535482
1,BID,2024,3,0.368222,0.178287,0.0,0.009625,0.0,269003095452000,6897515268,11.493793,2.017273,3.574493,4.012717,746.836767,19333.031073
2,BID,2024,2,0.429037,0.180613,0.0,0.009839,0.0,281601533460000,5700435900,12.331600,2.171694,3.710919,3.893225,1116.748633,22747.219208
3,BID,2024,1,0.429251,0.180520,0.0,0.009855,0.0,265640312940000,5700435900,12.131940,2.142925,3.643057,15.141780,1019.684828,21745.973497
4,BID,2023,4,0.408518,0.189483,0.0,0.009727,0.0,304403277060000,5700435900,14.155054,2.581861,4.169164,-4.286465,1065.582546,20682.757787
5,BID,2023,3,0.332500,0.175848,0.0,0.009270,0.0,262220051400000,5700435900,13.335113,2.295202,3.740526,-4.587722,803.952554,20041.812066
6,BID,2023,2,0.400536,0.189769,0.0,0.009693,0.0,213216778844400,5058523816,10.472875,1.949019,3.055989,-15.461085,1072.671435,21626.268449
7,BID,2023,1,0.392394,0.196536,0.0,0.009734,0.0,236233062207200,5058523816,11.758341,2.249375,3.343974,7.025580,1081.042652,20761.322239
8,BID,2022,4,0.282706,0.190621,0.0,0.009354,0.0,224851383621200,5058523816,12.382706,2.260543,3.231438,1.696762,806.349273,19663.415577
9,BID,2022,3,0.374365,0.174907,0.0,0.008497,0.0,211446295508800,5058523816,13.032387,2.196679,3.148185,1.881048,1043.378699,19028.722114
10,BID,2022,2,0.353105,0.145951,0.0,0.007144,0.0,164149097829200,5058523816,12.631966,1.805028,2.530948,2.033995,1019.637188,17977.563279
11,BID,2022,1,0.278433,0.132601,0.0,0.006627,0.0,182359783566800,5058523816,15.863453,2.105010,2.848616,5.630432,705.968802,17125.805897
12,BID,2021,4,0.204334,0.127008,0.0,0.006430,0.0,188430012146000,5058523816,17.877376,2.266552,3.015179,2.735225,438.409323,16434.655845

In [10]:
bid_cdtc = pd.read_csv(".\\dataset\\clean_dataset\\bank_index\\bid\\bid_cdtc.csv")
bid_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2024,4,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
1,2024,3,2575981275000000,2575981275000000,2437541619000000,138439656000000,5089779000000
2,2024,2,2521071363000000,2521071363000000,2386354090000000,134717273000000,5048208000000
3,2024,1,2328730752000000,2328730752000000,2199712917000000,129017835000000,5056307000000
4,2023,4,2300814314000000,2300814314000000,2177897270000000,122917044000000,4966455000000
5,2023,3,2132854577000000,2132854577000000,2013766739000000,119087838000000,4840773000000
6,2023,2,2124767632000000,2124767632000000,2010615988000000,114151644000000,4754650000000
7,2023,1,2106864549000000,2106864549000000,1997016087000000,109848462000000,4826819000000
8,2022,4,2120527692000000,2120527692000000,2016322127000000,104205565000000,4719327000000
9,2022,3,2048952718000000,2048952718000000,1948027658000000,100925060000000,4667816000000
10,2022,2,1979292691000000,1979292691000000,1885375152000000,93917539000000,2977607000000
11,2022,1,1847704434000000,1847704434000000,1757866709000000,89837725000000,3206428000000
12,2021,4,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000

## Trade

In [11]:
bid_trade = pd.read_csv(".\\dataset\\clean_dataset\\trade\\bid_trade.csv")
bid_trade

           Time   Open   High    Low  Close   Volume
0    2022-01-04  27.57  27.87  27.32  27.43  1769200
1    2022-01-05  27.79  27.79  27.06  27.17  1922200
2    2022-01-06  26.77  28.45  26.58  27.87  5998800
3    2022-01-07  28.34  28.93  27.61  28.75  4367700
4    2022-01-10  28.75  29.55  28.45  28.49  3180600
..          ...    ...    ...    ...    ...      ...
801  2025-03-25  39.20  39.70  39.20  39.70  2936500
802  2025-03-26  39.60  39.85  39.40  39.55  2603800
803  2025-03-27  39.65  39.65  39.10  39.10  1862400
804  2025-03-28  39.15  39.25  39.05  39.10  1401500
805  2025-03-31  39.00  39.00  38.50  38.75  2899600

[806 rows x 6 columns]

# Process data

In [12]:
cpi.dtypes

Time     datetime64[ns]
Value           float64
dtype: object

In [13]:
gdp.dtypes

Time     object
Value     int64
dtype: object

In [14]:
bid_foreign_exchange_rate.dtypes

Date             object
AUD_Cash        float64
AUD_Sell        float64
AUD_Transfer    float64
CAD_Cash        float64
CAD_Sell        float64
CAD_Transfer    float64
CHF_Cash        float64
CHF_Sell        float64
CHF_Transfer    float64
EUR_Cash        float64
EUR_Sell        float64
EUR_Transfer    float64
GBP_Cash        float64
GBP_Sell        float64
GBP_Transfer    float64
JPY_Cash        float64
JPY_Sell        float64
JPY_Transfer    float64
SGD_Cash        float64
SGD_Sell        float64
SGD_Transfer    float64
THB_Cash        float64
THB_Sell        float64
THB_Transfer    float64
USD_Cash        float64
dtype: object

In [15]:
bid_trade.dtypes

Time       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [16]:
bid_kqkd.dtypes

Năm                                                   int64
Kỳ                                                    int64
Doanh thu (đồng)                                      int64
Tăng trưởng doanh thu (%)                           float64
Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng)      int64
Tăng trưởng lợi nhuận (%)                           float64
LN trước thuế                                         int64
Lợi nhuận thuần                                       int64
Cố tức đã nhận                                        int64
dtype: object

In [17]:
bid_cstc.dtypes

CP                            object
Năm                            int64
Kỳ                             int64
Biên lợi nhuận ròng (%)      float64
ROE (%)                      float64
ROIC (%)                     float64
ROA (%)                      float64
Tỷ suất cổ tức (%)           float64
Vốn hóa (Tỷ đồng)              int64
Số CP lưu hành (Triệu CP)      int64
P/E                          float64
P/B                          float64
P/S                          float64
P/Cash Flow                  float64
EPS (VND)                    float64
BVPS (VND)                   float64
dtype: object

In [18]:
bid_cdtc.dtypes

Năm                             int64
Kỳ                              int64
TỔNG CỘNG TÀI SẢN (đồng)        int64
TỔNG CỘNG NGUỒN VỐN (đồng)      int64
NỢ PHẢI TRẢ (đồng)              int64
VỐN CHỦ SỞ HỮU (đồng)           int64
LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ    int64
dtype: object

## CPI

In [19]:
cpi["Time"] = convert_str_to_monthyear(cpi["Time"])
cpi

       Time  Value
0   2021-12  -0.18
1   2022-01   0.19
2   2022-02   1.00
3   2022-03   0.70
4   2022-04   0.18
5   2022-05   0.38
6   2022-06   0.69
7   2022-07   0.40
8   2022-08   0.01
9   2022-09   0.40
10  2022-10   0.15
11  2022-11   0.39
12  2022-12  -0.01
13  2023-01   0.52
14  2023-02   0.45
15  2023-03  -0.23
16  2023-04  -0.34
17  2023-05   0.01
18  2023-06   0.27
19  2023-07   0.45
20  2023-08   0.88
21  2023-09   1.08
22  2023-10   0.08
23  2023-11   0.25
24  2023-12   0.12
25  2024-01   0.31
26  2024-02   1.04
27  2024-03  -0.23
28  2024-04   0.07
29  2024-05   0.05
30  2024-06   0.17
31  2024-07   0.48
32  2024-08   0.00
33  2024-09   0.29
34  2024-10   0.33
35  2024-11   0.13
36  2024-12   0.29
37  2025-01   0.98
38  2025-02   0.34

In [20]:
cpi["Time"] += 1
cpi

       Time  Value
0   2022-01  -0.18
1   2022-02   0.19
2   2022-03   1.00
3   2022-04   0.70
4   2022-05   0.18
5   2022-06   0.38
6   2022-07   0.69
7   2022-08   0.40
8   2022-09   0.01
9   2022-10   0.40
10  2022-11   0.15
11  2022-12   0.39
12  2023-01  -0.01
13  2023-02   0.52
14  2023-03   0.45
15  2023-04  -0.23
16  2023-05  -0.34
17  2023-06   0.01
18  2023-07   0.27
19  2023-08   0.45
20  2023-09   0.88
21  2023-10   1.08
22  2023-11   0.08
23  2023-12   0.25
24  2024-01   0.12
25  2024-02   0.31
26  2024-03   1.04
27  2024-04  -0.23
28  2024-05   0.07
29  2024-06   0.05
30  2024-07   0.17
31  2024-08   0.48
32  2024-09   0.00
33  2024-10   0.29
34  2024-11   0.33
35  2024-12   0.13
36  2025-01   0.29
37  2025-02   0.98
38  2025-03   0.34

In [21]:
cpi.columns = ["Time", "Previous_CPI"]
cpi

       Time  Previous_CPI
0   2022-01         -0.18
1   2022-02          0.19
2   2022-03          1.00
3   2022-04          0.70
4   2022-05          0.18
5   2022-06          0.38
6   2022-07          0.69
7   2022-08          0.40
8   2022-09          0.01
9   2022-10          0.40
10  2022-11          0.15
11  2022-12          0.39
12  2023-01         -0.01
13  2023-02          0.52
14  2023-03          0.45
15  2023-04         -0.23
16  2023-05         -0.34
17  2023-06          0.01
18  2023-07          0.27
19  2023-08          0.45
20  2023-09          0.88
21  2023-10          1.08
22  2023-11          0.08
23  2023-12          0.25
24  2024-01          0.12
25  2024-02          0.31
26  2024-03          1.04
27  2024-04         -0.23
28  2024-05          0.07
29  2024-06          0.05
30  2024-07          0.17
31  2024-08          0.48
32  2024-09          0.00
33  2024-10          0.29
34  2024-11          0.33
35  2024-12          0.13
36  2025-01          0.29
37  2025-02          0.98
38  2025-03          0.34

## GDP

In [22]:
gdp["Time"] = gdp["Time"].apply(convert_quarter_to_datetime)
gdp

         Time    Value
0  2021-10-01  1467490
1  2022-01-01  1255312
2  2022-04-01  1346821
3  2022-07-01  1376321
4  2022-10-01  1538951
5  2023-01-01  1320755
6  2023-04-01  1407473
7  2023-07-01  1450322
8  2023-10-01  1643902
9  2024-01-01  1396660
10 2024-04-01  1508387
11 2024-07-01  1561963
12 2024-10-01  1773652

In [23]:
gdp["Time"] += pd.DateOffset(months=3)
gdp

         Time    Value
0  2022-01-01  1467490
1  2022-04-01  1255312
2  2022-07-01  1346821
3  2022-10-01  1376321
4  2023-01-01  1538951
5  2023-04-01  1320755
6  2023-07-01  1407473
7  2023-10-01  1450322
8  2024-01-01  1643902
9  2024-04-01  1396660
10 2024-07-01  1508387
11 2024-10-01  1561963
12 2025-01-01  1773652

In [24]:
gdp["Time"] = gdp["Time"].apply(convert_datetime_to_quarteryear_str)
gdp

       Time    Value
0   Q1 2022  1467490
1   Q2 2022  1255312
2   Q3 2022  1346821
3   Q4 2022  1376321
4   Q1 2023  1538951
5   Q2 2023  1320755
6   Q3 2023  1407473
7   Q4 2023  1450322
8   Q1 2024  1643902
9   Q2 2024  1396660
10  Q3 2024  1508387
11  Q4 2024  1561963
12  Q1 2025  1773652

In [25]:
gdp.columns = ["Time", "Previous_GDP"]
gdp

       Time  Previous_GDP
0   Q1 2022       1467490
1   Q2 2022       1255312
2   Q3 2022       1346821
3   Q4 2022       1376321
4   Q1 2023       1538951
5   Q2 2023       1320755
6   Q3 2023       1407473
7   Q4 2023       1450322
8   Q1 2024       1643902
9   Q2 2024       1396660
10  Q3 2024       1508387
11  Q4 2024       1561963
12  Q1 2025       1773652

## Foreign exchange rate

In [26]:
bid_foreign_exchange_rate["Date"] = convert_str_to_datetime(bid_foreign_exchange_rate["Date"])
bid_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2022-01-01,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
1,2022-01-02,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
2,2022-01-03,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
3,2022-01-04,16028.0,16672.0,16125.0,17457.0,18188.0,17562.0,24211.0,25213.0,24357.0,...,191.88,202.14,193.03,16416.0,17056.0,16515.0,646.13,712.94,652.66,22585.0
4,2022-01-05,16071.0,16708.0,16168.0,17467.0,18194.0,17572.0,24255.0,25251.0,24402.0,...,191.14,201.33,192.30,16399.0,17040.0,16498.0,648.19,715.23,654.74,22555.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,2025-03-27,15957.0,16414.0,15981.0,17705.0,18211.0,17729.0,28567.0,29401.0,28596.0,...,166.63,174.41,166.90,18759.0,19433.0,18837.0,693.35,778.90,727.85,24384.0
1066,2025-03-28,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1067,2025-03-29,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1068,2025-03-30,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1069,2025-03-31,15806.0,16256.0,15829.0,17606.0,18111.0,17631.0,28644.0,29477.0,28673.0,...,168.11,175.92,168.38,18715.0,19388.0,18792.0,693.15,778.67,727.64,24370.0

In [27]:
bid_foreign_exchange_rate["Date"] = bid_foreign_exchange_rate["Date"] + timedelta(days=1)
bid_foreign_exchange_rate

,Date,AUD_Cash,AUD_Sell,AUD_Transfer,CAD_Cash,CAD_Sell,CAD_Transfer,CHF_Cash,CHF_Sell,CHF_Transfer,...,JPY_Cash,JPY_Sell,JPY_Transfer,SGD_Cash,SGD_Sell,SGD_Transfer,THB_Cash,THB_Sell,THB_Transfer,USD_Cash
0,2022-01-02,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
1,2022-01-03,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
2,2022-01-04,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
3,2022-01-05,16028.0,16672.0,16125.0,17457.0,18188.0,17562.0,24211.0,25213.0,24357.0,...,191.88,202.14,193.03,16416.0,17056.0,16515.0,646.13,712.94,652.66,22585.0
4,2022-01-06,16071.0,16708.0,16168.0,17467.0,18194.0,17572.0,24255.0,25251.0,24402.0,...,191.14,201.33,192.30,16399.0,17040.0,16498.0,648.19,715.23,654.74,22555.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,2025-03-28,15957.0,16414.0,15981.0,17705.0,18211.0,17729.0,28567.0,29401.0,28596.0,...,166.63,174.41,166.90,18759.0,19433.0,18837.0,693.35,778.90,727.85,24384.0
1066,2025-03-29,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1067,2025-03-30,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1068,2025-03-31,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1069,2025-04-01,15806.0,16256.0,15829.0,17606.0,18111.0,17631.0,28644.0,29477.0,28673.0,...,168.11,175.92,168.38,18715.0,19388.0,18792.0,693.15,778.67,727.64,24370.0

In [28]:
bid_foreign_exchange_rate.columns = ["Date"] + ["Previous_" + column for column in bid_foreign_exchange_rate.columns[1:]]
bid_foreign_exchange_rate

,Date,Previous_AUD_Cash,Previous_AUD_Sell,Previous_AUD_Transfer,Previous_CAD_Cash,Previous_CAD_Sell,Previous_CAD_Transfer,Previous_CHF_Cash,Previous_CHF_Sell,Previous_CHF_Transfer,...,Previous_JPY_Cash,Previous_JPY_Sell,Previous_JPY_Transfer,Previous_SGD_Cash,Previous_SGD_Sell,Previous_SGD_Transfer,Previous_THB_Cash,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash
0,2022-01-02,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
1,2022-01-03,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
2,2022-01-04,16213.0,16855.0,16311.0,17520.0,18251.0,17626.0,24429.0,25431.0,24577.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
3,2022-01-05,16028.0,16672.0,16125.0,17457.0,18188.0,17562.0,24211.0,25213.0,24357.0,...,191.88,202.14,193.03,16416.0,17056.0,16515.0,646.13,712.94,652.66,22585.0
4,2022-01-06,16071.0,16708.0,16168.0,17467.0,18194.0,17572.0,24255.0,25251.0,24402.0,...,191.14,201.33,192.30,16399.0,17040.0,16498.0,648.19,715.23,654.74,22555.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,2025-03-28,15957.0,16414.0,15981.0,17705.0,18211.0,17729.0,28567.0,29401.0,28596.0,...,166.63,174.41,166.90,18759.0,19433.0,18837.0,693.35,778.90,727.85,24384.0
1066,2025-03-29,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1067,2025-03-30,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1068,2025-03-31,15886.0,16338.0,15910.0,17647.0,18145.0,17672.0,28625.0,29448.0,28653.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0
1069,2025-04-01,15806.0,16256.0,15829.0,17606.0,18111.0,17631.0,28644.0,29477.0,28673.0,...,168.11,175.92,168.38,18715.0,19388.0,18792.0,693.15,778.67,727.64,24370.0

## Bank index

In [29]:
def set_time(dataframe: pd.DataFrame):
    def set_time_row(row):
        if row["Kỳ"] == 4:
            row["Năm"] = int(row["Năm"] + 1)
            row["Kỳ"] = int(1)
        else:
            row["Kỳ"] = int(row["Kỳ"] + 1)
        return row

    dataframe = dataframe.apply(set_time_row, axis=1)
    dataframe["Năm"] = dataframe["Năm"].astype(int)
    dataframe["Kỳ"] = dataframe["Kỳ"].astype(int)

    return dataframe

### Kết quả kinh doanh

In [30]:
bid_kqkd = set_time(bid_kqkd)
bid_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2025,1,3.646924e+13,-0.027386,7.810117e+12,0.285767,9.938144e+12,7.946423e+12,1.446920e+11
1,2024,4,3.432629e+13,-0.099149,5.151318e+12,0.124035,6.498279e+12,5.213866e+12,1.059830e+11
2,2024,3,3.389689e+13,-0.140234,6.365954e+12,0.173203,8.158532e+12,6.528169e+12,9.942300e+10
3,2024,2,3.359598e+13,-0.109691,5.812648e+12,0.062937,7.389914e+12,5.915579e+12,9.564400e+10
4,2024,1,3.749611e+13,0.103046,6.074285e+12,0.489183,7.886764e+12,6.190625e+12,7.512800e+10
5,2023,4,3.810429e+13,0.244256,4.582880e+12,-0.131694,5.892788e+12,4.727935e+12,9.631900e+10
6,2023,3,3.942571e+13,0.339555,5.426134e+12,0.052013,6.950633e+12,5.549837e+12,7.392000e+10
7,2023,2,3.773521e+13,0.400121,5.468480e+12,0.531290,6.919579e+12,5.559041e+12,1.099080e+11
8,2023,1,3.399324e+13,0.371351,4.078937e+12,0.839261,5.245911e+12,4.156992e+12,4.423200e+10
9,2022,4,3.062415e+13,0.178320,5.277956e+12,1.577107,6.673383e+12,5.354232e+12,9.966700e+10
10,2022,3,2.943195e+13,0.124599,5.157859e+12,0.409747,6.489854e+12,5.199635e+12,6.361600e+10
11,2022,2,2.695139e+13,0.120256,3.571160e+12,0.348556,4.513501e+12,3.637665e+12,8.343700e+10
12,2022,1,2.478814e+13,-0.045132,2.217704e+12,0.355021,2.868211e+12,2.295616e+12,3.454700e+10

In [31]:
bid_kqkd = get_quarter(bid_kqkd)
bid_kqkd

,Năm,Kỳ,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận,Quarter
0,2025,1,3.646924e+13,-0.027386,7.810117e+12,0.285767,9.938144e+12,7.946423e+12,1.446920e+11,Q1 2025
1,2024,4,3.432629e+13,-0.099149,5.151318e+12,0.124035,6.498279e+12,5.213866e+12,1.059830e+11,Q4 2024
2,2024,3,3.389689e+13,-0.140234,6.365954e+12,0.173203,8.158532e+12,6.528169e+12,9.942300e+10,Q3 2024
3,2024,2,3.359598e+13,-0.109691,5.812648e+12,0.062937,7.389914e+12,5.915579e+12,9.564400e+10,Q2 2024
4,2024,1,3.749611e+13,0.103046,6.074285e+12,0.489183,7.886764e+12,6.190625e+12,7.512800e+10,Q1 2024
5,2023,4,3.810429e+13,0.244256,4.582880e+12,-0.131694,5.892788e+12,4.727935e+12,9.631900e+10,Q4 2023
6,2023,3,3.942571e+13,0.339555,5.426134e+12,0.052013,6.950633e+12,5.549837e+12,7.392000e+10,Q3 2023
7,2023,2,3.773521e+13,0.400121,5.468480e+12,0.531290,6.919579e+12,5.559041e+12,1.099080e+11,Q2 2023
8,2023,1,3.399324e+13,0.371351,4.078937e+12,0.839261,5.245911e+12,4.156992e+12,4.423200e+10,Q1 2023
9,2022,4,3.062415e+13,0.178320,5.277956e+12,1.577107,6.673383e+12,5.354232e+12,9.966700e+10,Q4 2022
10,2022,3,2.943195e+13,0.124599,5.157859e+12,0.409747,6.489854e+12,5.199635e+12,6.361600e+10,Q3 2022
11,2022,2,2.695139e+13,0.120256,3.571160e+12,0.348556,4.513501e+12,3.637665e+12,8.343700e+10,Q2 2022
12,2022,1,2.478814e+13,-0.045132,2.217704e+12,0.355021,2.868211e+12,2.295616e+12,3.454700e+10,Q1 2022

### Chỉ số tài chính

In [32]:
bid_cstc = set_time(bid_cstc)
bid_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROIC (%),ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,BID,2025,1,0.499409,0.187768,0.0,0.009934,0.0,256279709970500,7021361917,10.037253,1.773779,3.161571,2.552809,1112.336480,20577.535482
1,BID,2024,4,0.368222,0.178287,0.0,0.009625,0.0,269003095452000,6897515268,11.493793,2.017273,3.574493,4.012717,746.836767,19333.031073
2,BID,2024,3,0.429037,0.180613,0.0,0.009839,0.0,281601533460000,5700435900,12.331600,2.171694,3.710919,3.893225,1116.748633,22747.219208
3,BID,2024,2,0.429251,0.180520,0.0,0.009855,0.0,265640312940000,5700435900,12.131940,2.142925,3.643057,15.141780,1019.684828,21745.973497
4,BID,2024,1,0.408518,0.189483,0.0,0.009727,0.0,304403277060000,5700435900,14.155054,2.581861,4.169164,-4.286465,1065.582546,20682.757787
5,BID,2023,4,0.332500,0.175848,0.0,0.009270,0.0,262220051400000,5700435900,13.335113,2.295202,3.740526,-4.587722,803.952554,20041.812066
6,BID,2023,3,0.400536,0.189769,0.0,0.009693,0.0,213216778844400,5058523816,10.472875,1.949019,3.055989,-15.461085,1072.671435,21626.268449
7,BID,2023,2,0.392394,0.196536,0.0,0.009734,0.0,236233062207200,5058523816,11.758341,2.249375,3.343974,7.025580,1081.042652,20761.322239
8,BID,2023,1,0.282706,0.190621,0.0,0.009354,0.0,224851383621200,5058523816,12.382706,2.260543,3.231438,1.696762,806.349273,19663.415577
9,BID,2022,4,0.374365,0.174907,0.0,0.008497,0.0,211446295508800,5058523816,13.032387,2.196679,3.148185,1.881048,1043.378699,19028.722114
10,BID,2022,3,0.353105,0.145951,0.0,0.007144,0.0,164149097829200,5058523816,12.631966,1.805028,2.530948,2.033995,1019.637188,17977.563279
11,BID,2022,2,0.278433,0.132601,0.0,0.006627,0.0,182359783566800,5058523816,15.863453,2.105010,2.848616,5.630432,705.968802,17125.805897
12,BID,2022,1,0.204334,0.127008,0.0,0.006430,0.0,188430012146000,5058523816,17.877376,2.266552,3.015179,2.735225,438.409323,16434.655845

In [33]:
bid_cstc = get_quarter(bid_cstc)
bid_cstc

,CP,Năm,Kỳ,Biên lợi nhuận ròng (%),ROE (%),ROIC (%),ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),Quarter
0,BID,2025,1,0.499409,0.187768,0.0,0.009934,0.0,256279709970500,7021361917,10.037253,1.773779,3.161571,2.552809,1112.336480,20577.535482,Q1 2025
1,BID,2024,4,0.368222,0.178287,0.0,0.009625,0.0,269003095452000,6897515268,11.493793,2.017273,3.574493,4.012717,746.836767,19333.031073,Q4 2024
2,BID,2024,3,0.429037,0.180613,0.0,0.009839,0.0,281601533460000,5700435900,12.331600,2.171694,3.710919,3.893225,1116.748633,22747.219208,Q3 2024
3,BID,2024,2,0.429251,0.180520,0.0,0.009855,0.0,265640312940000,5700435900,12.131940,2.142925,3.643057,15.141780,1019.684828,21745.973497,Q2 2024
4,BID,2024,1,0.408518,0.189483,0.0,0.009727,0.0,304403277060000,5700435900,14.155054,2.581861,4.169164,-4.286465,1065.582546,20682.757787,Q1 2024
5,BID,2023,4,0.332500,0.175848,0.0,0.009270,0.0,262220051400000,5700435900,13.335113,2.295202,3.740526,-4.587722,803.952554,20041.812066,Q4 2023
6,BID,2023,3,0.400536,0.189769,0.0,0.009693,0.0,213216778844400,5058523816,10.472875,1.949019,3.055989,-15.461085,1072.671435,21626.268449,Q3 2023
7,BID,2023,2,0.392394,0.196536,0.0,0.009734,0.0,236233062207200,5058523816,11.758341,2.249375,3.343974,7.025580,1081.042652,20761.322239,Q2 2023
8,BID,2023,1,0.282706,0.190621,0.0,0.009354,0.0,224851383621200,5058523816,12.382706,2.260543,3.231438,1.696762,806.349273,19663.415577,Q1 2023
9,BID,2022,4,0.374365,0.174907,0.0,0.008497,0.0,211446295508800,5058523816,13.032387,2.196679,3.148185,1.881048,1043.378699,19028.722114,Q4 2022
10,BID,2022,3,0.353105,0.145951,0.0,0.007144,0.0,164149097829200,5058523816,12.631966,1.805028,2.530948,2.033995,1019.637188,17977.563279,Q3 2022
11,BID,2022,2,0.278433,0.132601,0.0,0.006627,0.0,182359783566800,5058523816,15.863453,2.105010,2.848616,5.630432,705.968802,17125.805897,Q2 2022
12,BID,2022,1,0.204334,0.127008,0.0,0.006430,0.0,188430012146000,5058523816,17.877376,2.266552,3.015179,2.735225,438.409323,16434.655845,Q1 2022

### Cân đối tài chính

In [34]:
bid_cdtc = set_time(bid_cdtc)
bid_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2025,1,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
1,2024,4,2575981275000000,2575981275000000,2437541619000000,138439656000000,5089779000000
2,2024,3,2521071363000000,2521071363000000,2386354090000000,134717273000000,5048208000000
3,2024,2,2328730752000000,2328730752000000,2199712917000000,129017835000000,5056307000000
4,2024,1,2300814314000000,2300814314000000,2177897270000000,122917044000000,4966455000000
5,2023,4,2132854577000000,2132854577000000,2013766739000000,119087838000000,4840773000000
6,2023,3,2124767632000000,2124767632000000,2010615988000000,114151644000000,4754650000000
7,2023,2,2106864549000000,2106864549000000,1997016087000000,109848462000000,4826819000000
8,2023,1,2120527692000000,2120527692000000,2016322127000000,104205565000000,4719327000000
9,2022,4,2048952718000000,2048952718000000,1948027658000000,100925060000000,4667816000000
10,2022,3,1979292691000000,1979292691000000,1885375152000000,93917539000000,2977607000000
11,2022,2,1847704434000000,1847704434000000,1757866709000000,89837725000000,3206428000000
12,2022,1,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000

In [35]:
bid_cdtc = get_quarter(bid_cdtc)
bid_cdtc

,Năm,Kỳ,TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ,Quarter
0,2025,1,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000,Q1 2025
1,2024,4,2575981275000000,2575981275000000,2437541619000000,138439656000000,5089779000000,Q4 2024
2,2024,3,2521071363000000,2521071363000000,2386354090000000,134717273000000,5048208000000,Q3 2024
3,2024,2,2328730752000000,2328730752000000,2199712917000000,129017835000000,5056307000000,Q2 2024
4,2024,1,2300814314000000,2300814314000000,2177897270000000,122917044000000,4966455000000,Q1 2024
5,2023,4,2132854577000000,2132854577000000,2013766739000000,119087838000000,4840773000000,Q4 2023
6,2023,3,2124767632000000,2124767632000000,2010615988000000,114151644000000,4754650000000,Q3 2023
7,2023,2,2106864549000000,2106864549000000,1997016087000000,109848462000000,4826819000000,Q2 2023
8,2023,1,2120527692000000,2120527692000000,2016322127000000,104205565000000,4719327000000,Q1 2023
9,2022,4,2048952718000000,2048952718000000,1948027658000000,100925060000000,4667816000000,Q4 2022
10,2022,3,1979292691000000,1979292691000000,1885375152000000,93917539000000,2977607000000,Q3 2022
11,2022,2,1847704434000000,1847704434000000,1757866709000000,89837725000000,3206428000000,Q2 2022
12,2022,1,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000,Q1 2022

## Trade

In [36]:
bid_trade["Time"] = convert_str_to_datetime(bid_trade["Time"])
bid_trade

          Time   Open   High    Low  Close   Volume
0   2022-01-04  27.57  27.87  27.32  27.43  1769200
1   2022-01-05  27.79  27.79  27.06  27.17  1922200
2   2022-01-06  26.77  28.45  26.58  27.87  5998800
3   2022-01-07  28.34  28.93  27.61  28.75  4367700
4   2022-01-10  28.75  29.55  28.45  28.49  3180600
..         ...    ...    ...    ...    ...      ...
801 2025-03-25  39.20  39.70  39.20  39.70  2936500
802 2025-03-26  39.60  39.85  39.40  39.55  2603800
803 2025-03-27  39.65  39.65  39.10  39.10  1862400
804 2025-03-28  39.15  39.25  39.05  39.10  1401500
805 2025-03-31  39.00  39.00  38.50  38.75  2899600

[806 rows x 6 columns]

In [37]:
bid_trade["Quarter"] = bid_trade["Time"].apply(get_quarter_from_date)
bid_trade

          Time   Open   High    Low  Close   Volume  Quarter
0   2022-01-04  27.57  27.87  27.32  27.43  1769200  Q1 2022
1   2022-01-05  27.79  27.79  27.06  27.17  1922200  Q1 2022
2   2022-01-06  26.77  28.45  26.58  27.87  5998800  Q1 2022
3   2022-01-07  28.34  28.93  27.61  28.75  4367700  Q1 2022
4   2022-01-10  28.75  29.55  28.45  28.49  3180600  Q1 2022
..         ...    ...    ...    ...    ...      ...      ...
801 2025-03-25  39.20  39.70  39.20  39.70  2936500  Q1 2025
802 2025-03-26  39.60  39.85  39.40  39.55  2603800  Q1 2025
803 2025-03-27  39.65  39.65  39.10  39.10  1862400  Q1 2025
804 2025-03-28  39.15  39.25  39.05  39.10  1401500  Q1 2025
805 2025-03-31  39.00  39.00  38.50  38.75  2899600  Q1 2025

[806 rows x 7 columns]

In [38]:
bid_trade["Month"] = bid_trade["Time"].dt.to_period("M")
bid_trade

          Time   Open   High    Low  Close   Volume  Quarter    Month
0   2022-01-04  27.57  27.87  27.32  27.43  1769200  Q1 2022  2022-01
1   2022-01-05  27.79  27.79  27.06  27.17  1922200  Q1 2022  2022-01
2   2022-01-06  26.77  28.45  26.58  27.87  5998800  Q1 2022  2022-01
3   2022-01-07  28.34  28.93  27.61  28.75  4367700  Q1 2022  2022-01
4   2022-01-10  28.75  29.55  28.45  28.49  3180600  Q1 2022  2022-01
..         ...    ...    ...    ...    ...      ...      ...      ...
801 2025-03-25  39.20  39.70  39.20  39.70  2936500  Q1 2025  2025-03
802 2025-03-26  39.60  39.85  39.40  39.55  2603800  Q1 2025  2025-03
803 2025-03-27  39.65  39.65  39.10  39.10  1862400  Q1 2025  2025-03
804 2025-03-28  39.15  39.25  39.05  39.10  1401500  Q1 2025  2025-03
805 2025-03-31  39.00  39.00  38.50  38.75  2899600  Q1 2025  2025-03

[806 rows x 8 columns]

# Merge data

In [39]:
bid_dataset = pd.merge(bid_trade, gdp, left_on="Quarter", right_on="Time", how="outer")
bid_dataset.drop(columns=["Time_y"], inplace=True)
bid_dataset.columns = ["Time"] + [column for column in bid_dataset.columns[1:]]
bid_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Month,Previous_GDP
0,2022-01-04,27.57,27.87,27.32,27.43,1769200,Q1 2022,2022-01,1467490
1,2022-01-05,27.79,27.79,27.06,27.17,1922200,Q1 2022,2022-01,1467490
2,2022-01-06,26.77,28.45,26.58,27.87,5998800,Q1 2022,2022-01,1467490
3,2022-01-07,28.34,28.93,27.61,28.75,4367700,Q1 2022,2022-01,1467490
4,2022-01-10,28.75,29.55,28.45,28.49,3180600,Q1 2022,2022-01,1467490
...,...,...,...,...,...,...,...,...,...
801,2024-12-25,38.20,39.80,38.10,38.65,5281584,Q4 2024,2024-12,1561963
802,2024-12-26,38.95,39.35,38.80,39.00,3886725,Q4 2024,2024-12,1561963
803,2024-12-27,39.25,39.50,39.10,39.15,2862726,Q4 2024,2024-12,1561963
804,2024-12-30,39.10,39.15,38.25,38.25,4013327,Q4 2024,2024-12,1561963
805,2024-12-31,38.50,38.75,37.55,37.55,3418064,Q4 2024,2024-12,1561963

In [40]:
bid_dataset = pd.merge(bid_dataset, cpi, left_on="Month", right_on="Time", how="outer")
bid_dataset.drop(columns=["Month", "Time_y"], inplace=True)
bid_dataset.columns = ["Time"] + [column for column in bid_dataset.columns[1:]]
bid_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI
0,2022-01-04,27.57,27.87,27.32,27.43,1769200,Q1 2022,1467490,-0.18
1,2022-01-05,27.79,27.79,27.06,27.17,1922200,Q1 2022,1467490,-0.18
2,2022-01-06,26.77,28.45,26.58,27.87,5998800,Q1 2022,1467490,-0.18
3,2022-01-07,28.34,28.93,27.61,28.75,4367700,Q1 2022,1467490,-0.18
4,2022-01-10,28.75,29.55,28.45,28.49,3180600,Q1 2022,1467490,-0.18
...,...,...,...,...,...,...,...,...,...
801,2025-03-25,39.20,39.70,39.20,39.70,2936500,Q1 2025,1773652,0.34
802,2025-03-26,39.60,39.85,39.40,39.55,2603800,Q1 2025,1773652,0.34
803,2025-03-27,39.65,39.65,39.10,39.10,1862400,Q1 2025,1773652,0.34
804,2025-03-28,39.15,39.25,39.05,39.10,1401500,Q1 2025,1773652,0.34
805,2025-03-31,39.00,39.00,38.50,38.75,2899600,Q1 2025,1773652,0.34

In [41]:
bid_dataset = pd.merge(bid_dataset, bid_foreign_exchange_rate, left_on="Time", right_on="Date", how="left")
bid_dataset.drop(columns=["Date"], inplace=True)
bid_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_JPY_Cash,Previous_JPY_Sell,Previous_JPY_Transfer,Previous_SGD_Cash,Previous_SGD_Sell,Previous_SGD_Transfer,Previous_THB_Cash,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash
0,2022-01-04,27.57,27.87,27.32,27.43,1769200,Q1 2022,1467490,-0.18,16213.0,...,193.30,203.64,194.47,16538.0,17186.0,16637.0,651.07,717.95,657.65,22635.0
1,2022-01-05,27.79,27.79,27.06,27.17,1922200,Q1 2022,1467490,-0.18,16028.0,...,191.88,202.14,193.03,16416.0,17056.0,16515.0,646.13,712.94,652.66,22585.0
2,2022-01-06,26.77,28.45,26.58,27.87,5998800,Q1 2022,1467490,-0.18,16071.0,...,191.14,201.33,192.30,16399.0,17040.0,16498.0,648.19,715.23,654.74,22555.0
3,2022-01-07,28.34,28.93,27.61,28.75,4367700,Q1 2022,1467490,-0.18,15938.0,...,191.44,201.68,192.60,16350.0,16995.0,16448.0,642.48,708.28,648.97,22565.0
4,2022-01-10,28.75,29.55,28.45,28.49,3180600,Q1 2022,1467490,-0.18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,39.20,39.70,39.20,39.70,2936500,Q1 2025,1773652,0.34,15928.0,...,167.92,175.72,168.19,18821.0,19497.0,18898.0,695.20,780.94,729.79,24442.0
802,2025-03-26,39.60,39.85,39.40,39.55,2603800,Q1 2025,1773652,0.34,15920.0,...,166.78,174.57,167.05,18799.0,19474.0,18876.0,693.29,779.03,727.79,24432.0
803,2025-03-27,39.65,39.65,39.10,39.10,1862400,Q1 2025,1773652,0.34,15972.0,...,167.03,174.79,167.30,18787.0,19463.0,18864.0,692.67,778.13,727.14,24389.0
804,2025-03-28,39.15,39.25,39.05,39.10,1401500,Q1 2025,1773652,0.34,15957.0,...,166.63,174.41,166.90,18759.0,19433.0,18837.0,693.35,778.90,727.85,24384.0
805,2025-03-31,39.00,39.00,38.50,38.75,2899600,Q1 2025,1773652,0.34,15886.0,...,166.42,174.09,166.69,18735.0,19400.0,18812.0,693.90,779.21,728.43,24389.0

In [42]:
bid_dataset = pd.merge(bid_dataset, bid_kqkd, on="Quarter", how="left")
bid_dataset.drop(columns=["Năm", "Kỳ"], inplace=True)
bid_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,Previous_THB_Sell,Previous_THB_Transfer,Previous_USD_Cash,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),LN trước thuế,Lợi nhuận thuần,Cố tức đã nhận
0,2022-01-04,27.57,27.87,27.32,27.43,1769200,Q1 2022,1467490,-0.18,16213.0,...,717.95,657.65,22635.0,2.478814e+13,-0.045132,2.217704e+12,0.355021,2.868211e+12,2.295616e+12,3.454700e+10
1,2022-01-05,27.79,27.79,27.06,27.17,1922200,Q1 2022,1467490,-0.18,16028.0,...,712.94,652.66,22585.0,2.478814e+13,-0.045132,2.217704e+12,0.355021,2.868211e+12,2.295616e+12,3.454700e+10
2,2022-01-06,26.77,28.45,26.58,27.87,5998800,Q1 2022,1467490,-0.18,16071.0,...,715.23,654.74,22555.0,2.478814e+13,-0.045132,2.217704e+12,0.355021,2.868211e+12,2.295616e+12,3.454700e+10
3,2022-01-07,28.34,28.93,27.61,28.75,4367700,Q1 2022,1467490,-0.18,15938.0,...,708.28,648.97,22565.0,2.478814e+13,-0.045132,2.217704e+12,0.355021,2.868211e+12,2.295616e+12,3.454700e+10
4,2022-01-10,28.75,29.55,28.45,28.49,3180600,Q1 2022,1467490,-0.18,NaN,...,NaN,NaN,NaN,2.478814e+13,-0.045132,2.217704e+12,0.355021,2.868211e+12,2.295616e+12,3.454700e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,39.20,39.70,39.20,39.70,2936500,Q1 2025,1773652,0.34,15928.0,...,780.94,729.79,24442.0,3.646924e+13,-0.027386,7.810117e+12,0.285767,9.938144e+12,7.946423e+12,1.446920e+11
802,2025-03-26,39.60,39.85,39.40,39.55,2603800,Q1 2025,1773652,0.34,15920.0,...,779.03,727.79,24432.0,3.646924e+13,-0.027386,7.810117e+12,0.285767,9.938144e+12,7.946423e+12,1.446920e+11
803,2025-03-27,39.65,39.65,39.10,39.10,1862400,Q1 2025,1773652,0.34,15972.0,...,778.13,727.14,24389.0,3.646924e+13,-0.027386,7.810117e+12,0.285767,9.938144e+12,7.946423e+12,1.446920e+11
804,2025-03-28,39.15,39.25,39.05,39.10,1401500,Q1 2025,1773652,0.34,15957.0,...,778.90,727.85,24384.0,3.646924e+13,-0.027386,7.810117e+12,0.285767,9.938144e+12,7.946423e+12,1.446920e+11
805,2025-03-31,39.00,39.00,38.50,38.75,2899600,Q1 2025,1773652,0.34,15886.0,...,779.21,728.43,24389.0,3.646924e+13,-0.027386,7.810117e+12,0.285767,9.938144e+12,7.946423e+12,1.446920e+11

In [43]:
bid_dataset = pd.merge(bid_dataset, bid_cstc, on="Quarter", how="left")
bid_dataset.drop(columns=["Năm", "Kỳ", "CP"], inplace=True)
bid_dataset

,Time,Open,High,Low,Close,Volume,Quarter,Previous_GDP,Previous_CPI,Previous_AUD_Cash,...,ROA (%),Tỷ suất cổ tức (%),Vốn hóa (Tỷ đồng),Số CP lưu hành (Triệu CP),P/E,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND)
0,2022-01-04,27.57,27.87,27.32,27.43,1769200,Q1 2022,1467490,-0.18,16213.0,...,0.006430,0.0,188430012146000,5058523816,17.877376,2.266552,3.015179,2.735225,438.409323,16434.655845
1,2022-01-05,27.79,27.79,27.06,27.17,1922200,Q1 2022,1467490,-0.18,16028.0,...,0.006430,0.0,188430012146000,5058523816,17.877376,2.266552,3.015179,2.735225,438.409323,16434.655845
2,2022-01-06,26.77,28.45,26.58,27.87,5998800,Q1 2022,1467490,-0.18,16071.0,...,0.006430,0.0,188430012146000,5058523816,17.877376,2.266552,3.015179,2.735225,438.409323,16434.655845
3,2022-01-07,28.34,28.93,27.61,28.75,4367700,Q1 2022,1467490,-0.18,15938.0,...,0.006430,0.0,188430012146000,5058523816,17.877376,2.266552,3.015179,2.735225,438.409323,16434.655845
4,2022-01-10,28.75,29.55,28.45,28.49,3180600,Q1 2022,1467490,-0.18,NaN,...,0.006430,0.0,188430012146000,5058523816,17.877376,2.266552,3.015179,2.735225,438.409323,16434.655845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,39.20,39.70,39.20,39.70,2936500,Q1 2025,1773652,0.34,15928.0,...,0.009934,0.0,256279709970500,7021361917,10.037253,1.773779,3.161571,2.552809,1112.336480,20577.535482
802,2025-03-26,39.60,39.85,39.40,39.55,2603800,Q1 2025,1773652,0.34,15920.0,...,0.009934,0.0,256279709970500,7021361917,10.037253,1.773779,3.161571,2.552809,1112.336480,20577.535482
803,2025-03-27,39.65,39.65,39.10,39.10,1862400,Q1 2025,1773652,0.34,15972.0,...,0.009934,0.0,256279709970500,7021361917,10.037253,1.773779,3.161571,2.552809,1112.336480,20577.535482
804,2025-03-28,39.15,39.25,39.05,39.10,1401500,Q1 2025,1773652,0.34,15957.0,...,0.009934,0.0,256279709970500,7021361917,10.037253,1.773779,3.161571,2.552809,1112.336480,20577.535482
805,2025-03-31,39.00,39.00,38.50,38.75,2899600,Q1 2025,1773652,0.34,15886.0,...,0.009934,0.0,256279709970500,7021361917,10.037253,1.773779,3.161571,2.552809,1112.336480,20577.535482

In [44]:
bid_dataset = pd.merge(bid_dataset, bid_cdtc, on="Quarter", how="left")
bid_dataset.drop(columns=["Năm", "Kỳ", "Quarter"], inplace=True)
bid_dataset

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2022-01-04,27.57,27.87,27.32,27.43,1769200,1467490,-0.18,16213.0,16855.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
1,2022-01-05,27.79,27.79,27.06,27.17,1922200,1467490,-0.18,16028.0,16672.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
2,2022-01-06,26.77,28.45,26.58,27.87,5998800,1467490,-0.18,16071.0,16708.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
3,2022-01-07,28.34,28.93,27.61,28.75,4367700,1467490,-0.18,15938.0,16572.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
4,2022-01-10,28.75,29.55,28.45,28.49,3180600,1467490,-0.18,NaN,NaN,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,39.20,39.70,39.20,39.70,2936500,1773652,0.34,15928.0,16387.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
802,2025-03-26,39.60,39.85,39.40,39.55,2603800,1773652,0.34,15920.0,16381.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
803,2025-03-27,39.65,39.65,39.10,39.10,1862400,1773652,0.34,15972.0,16427.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
804,2025-03-28,39.15,39.25,39.05,39.10,1401500,1773652,0.34,15957.0,16414.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
805,2025-03-31,39.00,39.00,38.50,38.75,2899600,1773652,0.34,15886.0,16338.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000

# Overview

In [45]:
bid_dataset.describe()

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
count,806,806.000000,806.000000,806.000000,806.000000,8.060000e+02,8.060000e+02,806.000000,752.000000,752.000000,...,806.000000,806.000000,806.000000,806.000000,806.000000,8.060000e+02,8.060000e+02,8.060000e+02,8.060000e+02,8.060000e+02
mean,2023-08-18 01:23:58.213399552,34.066340,34.517258,33.647816,34.036315,1.877320e+06,1.462671e+06,0.317469,15877.631649,16437.930851,...,2.137893,3.321022,1.682921,926.870310,19835.041460,2.201153e+15,2.201153e+15,2.086603e+15,1.145496e+14,4.507923e+12
min,2022-01-04 00:00:00,20.640000,22.000000,20.530000,20.900000,1.635640e+05,1.255312e+06,-0.340000,14660.000000,15232.000000,...,1.773779,2.530948,-15.461085,438.409323,16434.655845,1.761939e+15,1.761939e+15,1.675572e+15,8.636664e+13,2.977607e+12
25%,2022-10-26 06:00:00,30.157500,30.737500,29.700000,30.157500,1.088688e+06,1.376321e+06,0.080000,15520.000000,16083.750000,...,2.017273,3.055989,1.696762,803.952554,19028.722114,2.048953e+15,2.048953e+15,1.948028e+15,1.009251e+14,4.667816e+12
50%,2023-08-16 12:00:00,33.605000,33.970000,33.220000,33.625000,1.572777e+06,1.450322e+06,0.290000,15841.500000,16426.500000,...,2.171694,3.231438,2.552809,1019.684828,20041.812066,2.124768e+15,2.124768e+15,2.013767e+15,1.141516e+14,4.826819e+12
75%,2024-06-10 18:00:00,39.370000,39.750000,39.010000,39.250000,2.341435e+06,1.538951e+06,0.450000,16225.500000,16797.750000,...,2.260543,3.643057,4.012717,1072.671435,20761.322239,2.328731e+15,2.328731e+15,2.199713e+15,1.290178e+14,5.048208e+12
max,2025-03-31 00:00:00,44.960000,46.860000,44.210000,44.960000,1.044840e+07,1.773652e+06,1.080000,17001.000000,17675.000000,...,2.581861,4.169164,15.141780,1116.748633,22747.219208,2.760792e+15,2.760792e+15,2.615881e+15,1.449111e+14,5.234039e+12
std,NaN,5.618694,5.591721,5.620242,5.578099,1.217225e+06,1.337556e+05,0.348989,485.944815,481.526355,...,0.206150,0.419605,6.847945,196.400555,1764.086027,2.747394e+14,2.747394e+14,2.571591e+14,1.818936e+13,7.726270e+11

In [46]:
bid_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 58 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Time                                              806 non-null    datetime64[ns]
 1   Open                                              806 non-null    float64
 2   High                                              806 non-null    float64
 3   Low                                               806 non-null    float64
 4   Close                                             806 non-null    float64
 5   Volume                                            806 non-null    int64
 6   Previous_GDP                                      806 non-null    int64
 7   Previous_CPI                                      806 non-null    float64
 8   Previous_AUD_Cash                                 752 non-null    float64
 9   Previous_AUD_Sell                                 752 non-null    float64
 10  Previous_AUD_Transfer                             752 non-null    float64
 11  Previous_CAD_Cash                                 752 non-null    float64
 12  Previous_CAD_Sell                                 752 non-null    float64
 13  Previous_CAD_Transfer                             752 non-null    float64
 14  Previous_CHF_Cash                                 752 non-null    float64
 15  Previous_CHF_Sell                                 752 non-null    float64
 16  Previous_CHF_Transfer                             752 non-null    float64
 17  Previous_EUR_Cash                                 752 non-null    float64
 18  Previous_EUR_Sell                                 752 non-null    float64
 19  Previous_EUR_Transfer                             752 non-null    float64
 20  Previous_GBP_Cash                                 752 non-null    float64
 21  Previous_GBP_Sell                                 752 non-null    float64
 22  Previous_GBP_Transfer                             752 non-null    float64
 23  Previous_JPY_Cash                                 752 non-null    float64
 24  Previous_JPY_Sell                                 752 non-null    float64
 25  Previous_JPY_Transfer                             752 non-null    float64
 26  Previous_SGD_Cash                                 752 non-null    float64
 27  Previous_SGD_Sell                                 752 non-null    float64
 28  Previous_SGD_Transfer                             752 non-null    float64
 29  Previous_THB_Cash                                 752 non-null    float64
 30  Previous_THB_Sell                                 752 non-null    float64
 31  Previous_THB_Transfer                             752 non-null    float64
 32  Previous_USD_Cash                                 751 non-null    float64
 33  Doanh thu (đồng)                                  806 non-null    float64
 34  Tăng trưởng doanh thu (%)                         806 non-null    float64
 35  Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng)  806 non-null    float64
 36  Tăng trưởng lợi nhuận (%)                         806 non-null    float64
 37  LN trước thuế                                     806 non-null    float64
 38  Lợi nhuận thuần                                   806 non-null    float64
 39  Cố tức đã nhận                                    806 non-null    float64
 40  Biên lợi nhuận ròng (%)                           806 non-null    float64
 41  ROE (%)                                           806 non-null    float64
 42  ROIC (%)                                          806 non-null    float64
 43  ROA (%)                                           806 non-null    float64
 44  Tỷ suất cổ tức (%)                                806 non-null    float64
 45  Vốn hóa (Tỷ đồng)                                 806 non-null    int64
 46  Số CP lưu hành (Triệu CP)                         806 non-null    int64
 47  P/E                                               806 non-null    float64
 48  P/B                                               806 non-null    float64
 49  P/S                                               806 non-null    float64
 50  P/Cash Flow                                       806 non-null    float64
 51  EPS (VND)                                         806 non-null    float64
 52  BVPS (VND)                                        806 non-null    float64
 53  TỔNG CỘNG TÀI SẢN (đồng)                          806 non-null    int64
 54  TỔNG CỘNG NGUỒN VỐN (đồng)                        806 non-null    int64
 55  NỢ PHẢI TRẢ (đồng)                                806 non-null    int64
 56  VỐN CHỦ SỞ HỮU (đồng)                             806 non-null    int64
 57  LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ                      806 non-null    int64
dtypes: datetime64[ns](1), float64(48), int64(9)
memory usage: 365.3 KB

In [47]:
bid_dataset = bid_dataset.dropna(axis=0)
bid_dataset

,Time,Open,High,Low,Close,Volume,Previous_GDP,Previous_CPI,Previous_AUD_Cash,Previous_AUD_Sell,...,P/B,P/S,P/Cash Flow,EPS (VND),BVPS (VND),TỔNG CỘNG TÀI SẢN (đồng),TỔNG CỘNG NGUỒN VỐN (đồng),NỢ PHẢI TRẢ (đồng),VỐN CHỦ SỞ HỮU (đồng),LỢI ÍCH CỦA CỔ ĐÔNG THIỂU SỐ
0,2022-01-04,27.57,27.87,27.32,27.43,1769200,1467490,-0.18,16213.0,16855.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
1,2022-01-05,27.79,27.79,27.06,27.17,1922200,1467490,-0.18,16028.0,16672.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
2,2022-01-06,26.77,28.45,26.58,27.87,5998800,1467490,-0.18,16071.0,16708.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
3,2022-01-07,28.34,28.93,27.61,28.75,4367700,1467490,-0.18,15938.0,16572.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
5,2022-01-11,28.45,29.26,28.09,28.89,4276500,1467490,-0.18,15949.0,16584.0,...,2.266552,3.015179,2.735225,438.409323,16434.655845,1761938950000000,1761938950000000,1675572305000000,86366645000000,3184070000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,2025-03-25,39.20,39.70,39.20,39.70,2936500,1773652,0.34,15928.0,16387.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
802,2025-03-26,39.60,39.85,39.40,39.55,2603800,1773652,0.34,15920.0,16381.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
803,2025-03-27,39.65,39.65,39.10,39.10,1862400,1773652,0.34,15972.0,16427.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
804,2025-03-28,39.15,39.25,39.05,39.10,1401500,1773652,0.34,15957.0,16414.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000
805,2025-03-31,39.00,39.00,38.50,38.75,2899600,1773652,0.34,15886.0,16338.0,...,1.773779,3.161571,2.552809,1112.336480,20577.535482,2760791854000000,2760791854000000,2615880741000000,144911113000000,5234039000000

# Save data

In [48]:
bid_dataset.to_csv(".\\dataset\\official_dataset\\bid_dataset.csv", index=False)